.imagePartner:hover {
    /* margin-top: -5px; */
    transform: scale(1.1);
    transition: all 0.2s ease;
}

/* .containerIcon img {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
} */
