@media only screen and (max-width: 600px) {
  /* Jumbotron2 Section */
  .jumbotron-2 {
    margin-top: 0;
    background-color: #f2eec8;
    height: 100vh;
  }
  .jumbotron-2 .container-fluid {
    margin-left: 5px;
  }
  .jumbotron-2 .heading {
    padding: 0 25px;
    margin-bottom: 30px;
  }
  .jumbotron-2 .container-fluid .kolom1 {
    margin-top: 0;
  }
  .jumbotron-2 .heading h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    color: #f56600;
    font-size: 35px;
    font-weight: 700;
  }
  .jumbotron-2 .heading p {
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
  }
  .jumbotron-2 .logoArea {
    gap: 10px;
    flex-direction: row;
  }
  .jumbotron-2 .playstore {
    width: 30vw;
  }
  .jumbotron-2 .appstore {
    width: 30vw;
  }
  .jumbotron-2 .logoHp {
    position: relative;
    justify-content: center;
  }
  .jumbotron-2 .logoHp .hp1 {
    position: relative;
    width: 65%;
  }
  .jumbotron-2 .logoHp img {
    margin: 0;
  }
  .jumbotron-2 .rows {
    height: 100%;
    align-items: center;
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 600px) and (max-height: 500px) {
  .jumbotron-2 .container-fluid .kolom1 {
    padding-top: 0;
  }
}
@media only screen and (max-width: 600px) and (min-height: 500px) {
  .jumbotron-2 .container-fluid .kolom1 {
    padding-top: 0;
  }
}
@media only screen and (max-width: 600px) and (min-height: 700px) {
  .jumbotron-2 .heading h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    color: #f56600;
    font-size: 3rem;
    font-weight: 700;
  }
  .jumbotron-2 .heading p {
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
  }
  .jumbotron-2 .playstore {
    width: 30vw;
  }
  .jumbotron-2 .appstore {
    width: 30vw;
  }
}
@media only screen and (min-width: 600px) {
  .jumbotron-2 {
    margin-top: 0;
    background-color: #f2eec8;
    height: 100vh;
  }
  .jumbotron-2 .container-fluid {
    margin-left: 5px;
  }
  .jumbotron-2 .heading {
    padding: 0 25px;
    margin-bottom: 30px;
  }
  .jumbotron-2 h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    color: #f56600;
    font-size: 25px;
    font-weight: 700;
  }
  .jumbotron-2 p {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
  }
  .jumbotron-2 .logoArea {
    gap: 10px;
  }
  .jumbotron-2 .playstore {
    width: 143px;
  }
  .jumbotron-2 .appstore {
    width: 143px;
  }
  .jumbotron-2 .logoHp {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
  }
  .jumbotron-2 .logoHp .hp1 {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    width: 80%;
  }
  .jumbotron-2 .logoHp img {
    margin: 0;
  }
  .jumbotron-2 .rows {
    height: 100%;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) and (max-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 0;
  }
  .jumbotron-2 .heading h1 {
    font-size: 40px;
  }
  .jumbotron-2 .heading p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 600px) and (min-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 0;
  }
  .jumbotron-2 .heading h1 {
    font-size: 3rem;
  }
  .jumbotron-2 .heading p {
    font-size: 20px;
  }
  .jumbotron-2 .logoHp img {
    width: 50%;
  }
}
@media only screen and (min-width: 600px) and (min-height: 600px) {
  .jumbotron-2 .logoHp img {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron-2 .logoHp .hp1 {
    margin-right: 0;
    margin-left: 0;
    position: relative;
  }
  .jumbotron-2 .rows {
    height: 100%;
    align-items: center;
  }
  .jumbotron-2 .heading {
    padding: 0 70px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .jumbotron-2 .heading h1 {
    font-size: 4rem;
    margin-top: 0;
  }
  .jumbotron-2 .heading p {
    font-size: 2vw;
  }
  .jumbotron-2 .heading .playstore {
    width: 10vw;
  }
  .jumbotron-2 .heading .appstore {
    width: 10vw;
  }
  .jumbotron-2 .kolom1 {
    padding-top: 180px;
    padding-bottom: 80px;
  }
  .jumbotron-2 .logoHp {
    justify-content: center;
    margin: 0;
  }
  .jumbotron-2 .rows {
    height: 100%;
    align-items: center;
  }
}
@media only screen and (min-width: 992px), screen and (max-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 80px;
  }
  .jumbotron-2 .logoHp .hp1 {
    position: relative;
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .jumbotron-2 .rows {
    height: 100%;
    align-items: center;
  }
  .jumbotron-2 .logoArea {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (min-width: 1200px), screen and (max-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1200px), screen and (min-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1200px), screen and (min-height: 600px) {
  .jumbotron-2 .kolom1 {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1200px), screen and (min-height: 700px) {
  .jumbotron-2 .kolom1 {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1200px), screen and (min-height: 800px) {
  .jumbotron-2 .kolom1 {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 1400px) {
  .jumbotron-2 .heading {
    padding-left: 100px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1400px), screen and (max-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1400px), screen and (min-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1400px), screen and (min-height: 700px) {
  .jumbotron-2 .kolom1 {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1600px) {
  .jumbotron-2 .logoHp .hp1 {
    position: relative;
    width: 100%;
  }
  .jumbotron-2 .heading .playstore {
    width: 10vw;
  }
  .jumbotron-2 .heading .appstore {
    width: 10vw;
  }
}
@media only screen and (min-width: 1600px), screen and (min-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1600px), screen and (min-height: 600px) {
  .jumbotron-2 .kolom1 {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1600px), screen and (min-height: 700px) {
  .jumbotron-2 .kolom1 {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1600px), screen and (min-height: 800px) {
  .jumbotron-2 .kolom1 {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 1800px), screen and (min-height: 500px) {
  .jumbotron-2 .kolom1 {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1800px), screen and (min-height: 700px) {
  .jumbotron-2 .kolom1 {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1800px), screen and (min-height: 800px) {
  .jumbotron-2 .kolom1 {
    padding-top: 150px;
  }
}
@media only screen and (min-width: 1800px), screen and (min-height: 800px) {
  .jumbotron-2 .kolom1 {
    padding-top: 200px;
  }
}

.img-phone-jumbotron {
  width: 50%;
}
