@media only screen and (max-width: 600px) {
  .carouselContainer {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .carouselContainer {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .carouselContainer {
    display: block;
  }
  .textContainer {
    font-family: 'Nunito Sans' sans-serif !important;
    color: #fff;
  }
  .title {
    color: #fff !important;
  }
}
