@media only screen and (max-width: 600px) {
  .input-container {
    padding-top: 0;
  }
  .input-container form {
    background-color: #ffffff;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%);
    height: 40px;
    width: 90% !important;
    margin-left: 5%;
  }
  .input-container .boxPencarian:focus {
    background-color: transparent;
    box-shadow: none;
  }
  .input-container input {
    height: 40px;
    border: none;
    width: 100% !important;
    margin-left: 10px;
    background-color: transparent;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .input-container img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .input-container form .dataResult {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 15px;
  }
  .input-container form {
    margin-left: 8%;
    width: 91% !important;
    height: 40px;
  }
  .input-container img {
    width: auto;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .dataItem a {
    text-decoration: none;
  }
  .dataItem:hover {
    background: lightgray;
  }
  .dataResult .city a:hover {
    background-color: lightgray;
  }
  .dataItem p {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .input-container {
    margin-top: 20px;
  }
  .input-container form .form {
    background-color: #ffffff;
    height: 40px;
    width: 80% !important;
    margin-left: 10%;
  }
  .input-container .boxPencarian:focus {
    background-color: transparent;
    box-shadow: none;
  }
  .input-container input {
    height: 40px;
    border: none;
    width: 100% !important;
    margin-left: 10px;
    background-color: transparent;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .input-container img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .input-container form .dataResult {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 15px;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .dataItem a {
    text-decoration: none;
  }
  .dataItem:hover {
    background: lightgray;
  }
  .dataResult .city a:hover {
    background-color: lightgray;
  }
  .dataItem p {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .input-container form .dataResult {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 15px;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .dataItem a {
    text-decoration: none;
  }
  .dataItem:hover {
    background: lightgray;
  }
  .dataResult .city a:hover {
    background-color: lightgray;
  }
  .dataItem p {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .input-container {
    margin-top: 20px;
  }
  .input-container form {
    margin-left: 8%;
    width: 100% !important;
    height: 50px;
  }
  .input-container img {
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .input-container input {
    height: 45px;
    border: none;
    width: 100% !important;
    margin-left: 10px;
    background-color: transparent;
  }
  .container-fluid h1 {
    font-size: 96px !important;
  }
  .container-fluid p {
    font-size: 48px !important;
  }
  .boxPencarian {
    height: 50px;
  }
  .input-container form .dataResult {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 15px;
  }
  .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .dataItem a {
    text-decoration: none;
  }
  .dataItem:hover {
    background: lightgray;
  }
  .dataResult .city a:hover {
    background-color: lightgray;
  }
  .dataItem p {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron .container-fluid {
    padding-top: 25%;
  }
  .input-container form {
    width: 100% !important;
  }
  .input-container form .dataResult {
    position: absolute;
    z-index: 1;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 15px;
  }
  .jumbotron .input-container input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .dataItem a {
    text-decoration: none;
  }
  .dataItem:hover {
    background: lightgray;
  }
  .dataResult .city a:hover {
    background-color: lightgray;
  }
  .dataItem p {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1200px) and (max-height: 500px) {
  .form {
    height: 40px !important;
  }
  .form img {
    width: 'auto';
    height: 20px;
    margin-top: 10px;
  }
  .boxPencarian {
    height: 40px !important;
  }
}
@media only screen and (min-width: 1600px) {
  .input-container form {
    width: 100% !important;
  }
}

/* @media only screen and (max-height: 500px) {
  .boxPencarian {
    height: 40px !important;
  }
  .input-container {
    margin-top: 20px !important;
  }
} */
