@media only screen and (max-width: 600px) {
  .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 95%;
    margin-left: 3%;
  }
  .lokasiPerumahan p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .lokasiPerumahan .detail-1 .waktu {
    width: 134px;
  }
  .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .lokasiPerumahan .iconKeterangan {
    flex-basis: 375px;
    align-items: center;
  }
  .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .lokasiPerumahan .iconKeterangan .img {
    width: 21%;
  }
}

@media only screen and (min-width: 600px) {
  .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 96%;
  }
  .lokasiPerumahan p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .lokasiPerumahan .detail-1 .waktu {
    width: 100px;
  }
  .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .lokasiPerumahan .img {
    width: 15% !important;
  }
}
@media only screen and (min-width: 768px) {
  .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 100%;
  }
  .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .lokasiPerumahan .detail-1 .waktu {
    width: 170px;
  }
  .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .lokasiPerumahan .iconKeterangan .img {
    width: 22% !important;
  }
}

@media only screen and (min-width: 992px) {
  .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 100%;
  }
  .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 100%;
    max-width: 100% !important;
  }
  .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .lokasiPerumahan .img {
    width: 17% !important;
  }
  .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
  }
  .lokasiPerumahan .detail-1 .waktu {
    width: 125px;
  }
}
