@media only screen and (max-width: 600px) {
  .dekstopView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .row {
    padding: 0 20px !important;
    flex-direction: column;
  }
  .img {
    width: 200px;
    height: 100%;
    margin: auto;
  }
  .title {
    font-size: 21px !important;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  .description {
    font-size: 13px !important;
    text-align: justify;
  }
  .row .content-wrapper {
    flex-direction: column !important;
  }
  .row .content-wrapper .text-wrapper {
    margin-left: 0 !important;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .dekstopView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .row .content-wrapper {
    flex-direction: column !important;
  }
  .row .content-wrapper .text-wrapper {
    width: 100%;
    margin-left: 0 !important;
  }
  .row {
    padding: 0 !important;
  }
  .img {
    width: 250px;
    height: 100%;
  }
  .title {
    font-size: 25px !important;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  .description {
    font-size: 15px !important;
    text-align: justify;
  }
}
@media only screen and (min-width: 992px) {
  .dekstopView {
    display: block;
  }
  .mobileView {
    display: none;
  }
  .text-wrapper {
    width: 550px !important;
  }
  .text-wrapper-left {
    width: 550px;
  }
  .row .content-wrapper {
    flex-direction: row !important;
  }
  .img-wrapper {
    margin-left: 1rem;
  }
  .img-wrapper-left {
    margin-right: 1rem;
  }
  .img {
    width: 350px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .text-wrapper {
    width: 550px;
  }
  .text-wrapper-left {
    width: 370px;
  }
  /* .img-wrapper {
    width: 400px;
    height: 200px;
  } */
  .img {
    width: 350px;
    object-fit: cover;
  }
}
