@media only screen and (max-width: 600px) {
  .toolTip img {
    width: 15px;
    margin-top: -10px !important;
    margin-left: 5px;
  }
  .toolTip {
    cursor: pointer;
    position: relative;
  }
  .toolTip .toolTipText {
    position: absolute;
    background-color: #f56600;
    color: #ffffff;
    transform: translateX(-50%);
    left: 200%;
    top: 0;
    white-space: nowrap;
    padding: 5px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-weight: 700;
  }
  .toolTip .toolTipText::before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    border: 15px solid;
    left: 50%;
    top: 100%;
  }
  .toolTip:hover .toolTipText {
    margin-top: -40px !important;
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .toolTip img {
    width: 15px;
    margin-top: -10px !important;
    margin-left: 5px;
  }
  .toolTip {
    cursor: pointer;
    position: relative;
  }
  .toolTip .toolTipText {
    position: absolute;
    background-color: #f56600;
    color: #ffffff;
    transform: translateX(-50%);
    left: 200%;
    top: 0;
    white-space: nowrap;
    padding: 5px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-weight: 700;
  }
  .toolTip .toolTipText::before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    border: 15px solid;
    left: 50%;
    top: 100%;
  }
  .toolTip:hover .toolTipText {
    margin-top: -40px !important;
    visibility: visible;
    opacity: 1;
  }
}
