@media only screen and (max-width: 600px) {
  .mobileCard {
    font-family: "Nunito Sans", sans-serif !important;
    margin-top: 10px;
  }
  .rowMobileCard .cards {
    font-family: "Nunito Sans", sans-serif !important;
    border: none !important;
    background-color: transparent;
  }
  .cards {
    border: none;
  }
  .cards h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .cards p {
    font-size: 13px;
    font-weight: 400;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
    height: auto;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
    height: 251px;
  }
  .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
    height: 167px;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
    height: 251px;
  }
  .card-img-top {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 20px;
  }
}

/* ---------------------------
    MIN-WIDTH : 600PX
-----------------------------*/
@media only screen and (min-width: 600px) {
  .mobileCard {
    font-family: "Nunito Sans", sans-serif !important;
    border: none !important;
  }
  .rowMobileCard .cards {
    font-family: "Nunito Sans", sans-serif !important;
    border: none !important;
    background-color: transparent;
    border-radius: 20px !important;
  }
  .cards {
    border: none;
  }
  .card {
    border: none !important;
  }
  .card-img-top {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 20px;
  }
  .cards h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .cards p {
    font-size: 13px;
    font-weight: 400;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }
}

/* ---------------------------
    MIN-WIDTH : 768PX
-----------------------------*/
@media only screen and (min-width: 768px) {
  .rowMobileCard {
    margin-right: 40px !important;
  }
  .cards h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .cards p {
    font-size: 13px;
    font-weight: 400;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
}

@media only screen and (min-width: 992px) {
  .mobileCard {
    display: block;
  }
}
