@media only screen and (max-width: 600px) {
    .jumbotron {
        font-family: "Poppins", sans-serif;
        height: 200px;
        background-image: url("../../pages/assets/images/jumbotronImage.png");
    }
    .jumbotron .input-container {
        padding-top: 50px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        height: 40px;
        width: 90% !important;
        margin-left: 5%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    .jumbotron .input-container input {
        height: 40px;
        border: none;
        width: 100% !important;
        margin-left: 10px;
        background-color: transparent;
    }
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 200px;
        background-image: url("../../pages/assets/images/jumbotronImage.png");
    }
    .jumbotron .input-container {
        padding-top: 50px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        height: 40px;
        width: 90% !important;
        margin-left: 5%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    .jumbotron .input-container input {
        height: 40px;
        border: none;
        width: 100% !important;
        margin-left: 10px;
        background-color: transparent;
    }
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
}

@media only screen and (min-width: 768px) {
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
}

@media only screen and (min-width: 992px) {
    .jumbotron {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 256px;
        background-image: url("../../pages/assets/images/timSepakat.png");
    }
    .jumbotron .input-container {
        padding-top: 50px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        height: 40px;
        width: 65% !important;
        margin-left: 19%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    /* .jumbotron .input-container input {
    height: 40px;
    border: none;
    width: 100% !important;
    margin-left: 10px;
    background-color: transparent;
  } */
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
}
