/* .konten:hover img {
    rotate: 360deg;
    transition: 0.5s ease-in-out;
} */

.konten:not(:hover) img {
  rotate: 360deg;
  transition: 0.3s ease-in-out;
}

.iconChevron {
  /* margin-top: 10px; */
  margin-left: 0.5vw;
  width: 20px;
}
.navbar2 .item {
  font-family: 'Nunito Sans', sans-serif !important;
}
/*------------------------------------------

Extra small devices (phones, 600px and down) 

-------------------------------------------*/
@media only screen and (max-width: 600px) {
  /* Topbar Section */
  nav.navbar1 {
    display: none;
  }
  /* End Top Bar Section */

  /* Navbar Section */
  .nav {
    padding: 0;
  }
  .navbar2 {
    top: 0;
    margin-top: 0 !important;
  }
  .logoSepakat {
    width: 45px;
  }
  .navbar2 .brandName {
    margin-right: auto;
    font-weight: 700 !important;
    color: #4d4d4d;
    font-size: 30px !important;
    font-family: 'Poppins', sans-serif;
  }
  .navbar2 .brandName:hover {
    color: #4d4d4d;
  }
  .navbar2 .list {
    margin-left: -15px !important;
  }
  .navbar2 .navUl {
    text-align: center;
    font-weight: 700;
    font-size: large;
  }
  .navbar2 .navUl .navItems {
    color: #4d4d4d;
  }
  .downloadWrapper {
    display: none !important;
  }
  .download {
    display: none !important;
  }
  .iconChevron {
    cursor: pointer;
    margin-left: 0.1vw;
  }
  /* End Navbar */
}

@media only screen and (min-width: 600px) {
  .nav {
    padding: 0;
  }
  .navbar2 {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .logoSepakat {
    width: 55px;
  }
  .navbar2 .brandName {
    margin-right: auto;
    padding-left: 0;
    font-weight: 700 !important;
    /* color: #4d4d4d; */
    color: #4d4d4d;
    font-size: 35px !important;
    font-family: 'Poppins', sans-serif;
  }
  .navbar2 .brandName:hover {
    color: #4d4d4d;
  }
  .navbar-area .navbar2 .list {
    margin-left: -15px !important;
  }
  .navbar2 .navUl {
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
  .navbar2 .navUl .navItems {
    color: #4d4d4d;
    text-align: center;
    font-size: large;
    font-weight: 700;
  }
  .downloadWrapper {
    display: none;
  }
  .download {
    display: none;
  }
  .navbar2 .item:active {
    background: transparent !important;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    padding: 0;
  }
  .logoSepakat {
    width: 50px;
  }
  .navbar2 .brandName {
    margin-right: 30px;
    font-size: 31px !important;
    font-family: 'Poppins', sans-serif;
  }
  .navbar2 .item {
    font-weight: 700 !important;
    color: #4d4d4d !important;
    font-size: 19px;
    margin-right: 0.25rem !important;
  }
  .navbar2 .item1 {
    font-weight: 700 !important;
    color: #4d4d4d !important;
    font-size: 19px;
  }
  .downloadWrapper {
    display: block;
  }
  .downloadWrapper img {
    width: 110px;
  }
  .download {
    display: block;
  }
  .download img {
    width: 135px;
  }
  .iconChevron {
    cursor: pointer;
    margin-left: -10px;
    width: 50px;
    /* margin-top: 12px; */
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    padding: 0;
  }
  .logoSepakat {
    width: 50px;
  }
  .navbar2 .brandName {
    margin-right: 100px;
    font-size: 31px !important;
    font-family: 'Poppins', sans-serif;
  }
  .navbar2 .item {
    font-weight: 700 !important;
    color: #4d4d4d !important;
    font-size: 1.1rem;
    margin-right: 0.5rem !important;
  }
  .navbar2 .item1 {
    font-weight: 700 !important;
    color: #4d4d4d !important;
    font-size: 1.1rem;
    margin-right: 0.5rem !important;
  }
  .downloadWrapper {
    display: block;
  }
  .download {
    display: block;
  }
  .iconChevron {
    width: 20px;
  }
}
@media only screen and (min-width: 1500px) {
  .downloadWrapper img {
    width: 135px;
  }
  .download img {
    width: 135px;
  }
}
