@media only screen and (max-width: 600px) {
  nav.navbar1 {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* .active {
    visibility: visible;
    transition: ease-in-out 0.4s;
  }
  .hidden {
    visibility: hidden;
    transition: ease-in-out 0.4s;
    transform: translateY(-100%);
  } */
  nav.navbar1 {
    display: block;
    z-index: 999;
    width: 100%;
  }
  nav .topbar {
    margin-left: auto;
    font-family: 'Nunito Sans', sans-serif;
  }
  nav .topbar a {
    color: #fff !important;
    font-size: 15px;
  }
  nav .topbar .a1 {
    margin-right: 30px;
  }
  nav .topbar .a2 {
    margin-right: 13px;
  }
}
@media only screen and (min-width: 992px) {
  .active {
    visibility: visible;
    transition: ease-in-out 0.4s;
  }
  .hidden {
    visibility: hidden;
    transition: ease-in-out 0.4s;
    transform: translateY(-100%);
  }
  nav.navbar1 {
    display: block;
    z-index: 999;
    width: 100%;
  }
  nav .topbar {
    margin-left: auto;
    font-family: 'Nunito Sans', sans-serif;
  }
  nav .topbar a {
    color: #fff !important;
    font-size: 15px;
  }
  nav .topbar .a1 {
    margin-right: 30px;
  }
  nav .topbar .a2 {
    margin-right: 13px;
  }
}
