/* mobile */
.address {
  font-weight: 700 !important;
}
.logoEmail {
  width: 15px !important;
  height: 15px !important;
}
@media only screen and (max-width: 600px) {
  .footer {
    color: #fff;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
  .footer .icon-logo .logoFooter {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  .footer .icon-logo .logo-playstore {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    color: #fff;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
  .footer .icon-logo .logoFooter {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  .footer .icon-logo .logo-playstore {
    width: 30%;
    margin-top: 0px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    color: #fff;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
  .footer .icon-logo .logoFooter {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  .footer .icon-logo .logo-playstore {
    width: 30%;
    margin-top: 0px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    color: #fff;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .footer .icon-logo p {
    margin: 0;
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
  .footer .icon-logo .logoFooter {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  .footer .icon-logo .logo-playstore {
    width: 10%;
    margin-top: 0px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    color: #fff;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .footer .icon-logo p {
    margin: 0;
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
  .footer .icon-logo .logoFooter {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  .footer .icon-logo .logo-playstore {
    width: 160px;
    margin-top: 0px;
  }
  .footer .icon-logo .anchor-playstore {
    width: 10%;
  }
}
