/*------------------------------------------

Extra small devices (phones, 600px and down) 

-------------------------------------------*/
.button-copy {
  border: none;
  background: none;
}
@media only screen and (max-width: 600px) {
  .footer {
    text-align: left !important;
    background-color: #f56600;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  .footer .icon-logo {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 40px;
  }
  .footer .awal {
    padding: 20px;
    padding-top: 0;
  }
  .footer .contact h1 {
    margin-top: 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  .footer .bottomBar h1 {
    text-align: center !important;
    color: #f2eec8;
    font-size: 12px;
    font-weight: 700;
  }
  .footer .contact .container {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
  }
  .footer .icon-logo .logoFooter {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .footer .contact .containerAddress {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
  }
  .addressIcon {
    margin-top: 30px;
  }
  .footer .contact .kolom-1 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #4d4d4d;
  }
  .footer .contact .kolom .klm {
    margin-top: 8px;
    display: flex;
  }
  .footer .contact .kolom .klm img {
    width: 15px;
    height: 15px;
  }
  .footer .contact .kolom-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    color: #4d4d4d;
  }
  .footer .row .barBottom {
    margin-bottom: 0 !important;
  }
  .copyRightText {
    margin: 0;
    padding: 5px;
  }
  .footer .contact .kolom-1 .klm-1 .email {
    font-size: 14px;
  }
  .footer .contact .kolom-1 .klm-2 .number {
    font-size: 14px;
  }
  .link {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) and (max-height: 500px) {
  .footer .contact .kolom-1 .klm-1 .email {
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .kontak {
    width: 100%;
  }
  .footer {
    text-align: left !important;
    background-color: #f56600;
  }
  .footer .container-fluid .awal {
    gap: 25px;
  }
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer a:hover {
    color: #dadada;
  }
  /* .column1 {
        padding: 0 30px;
    } */
  .columnLeft {
    padding-left: 30px;
  }
  .columnLeft p {
    font-size: 14px;
  }
  .column2 p {
    font-size: 14px;
  }
  .column3 p {
    font-size: 14px;
  }
  /* .contact {
        padding: 0 30px;
    } */
  .footer .icon-logo {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 10px;
  }
  .copyRightText {
    margin: 0;
    padding: 5px;
  }
  .footer .icon-logo .logoFooter {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .footer .contact h1 {
    margin-top: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  .footer .bottomBar h1 {
    text-align: center !important;
    color: #f2eec8;
    font-size: 12px;
    font-weight: 700;
  }
  .footer .contact .container {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
  }
  .footer .contact .containerAddress {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }
  .addressIcon {
    margin-top: 30px;
  }
  .footer .contact .kolom-1 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #4d4d4d;
  }
  .footer .contact .kolom .klm {
    margin-top: 8px;
    display: flex;
  }
  .footer .contact .kolom .klm img {
    width: 15px;
    height: 15px;
  }
  .footer .contact .kolom-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    color: #4d4d4d;
  }
  .footer .row .barBottom {
    margin-bottom: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .kontak {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* .Footer Section */
  .footer .container-fluid .awal {
    padding-top: 20px;
  }
  .footer .awal {
    margin-top: 0;
  }
  .footer .awal .icon-logo {
    margin-top: 0;
  }
  .footer .contact h1 {
    margin-top: 0;
  }
  .footer .icon-logo2 {
    justify-content: start;
  }
  /* End Footer */
}

@media only screen and (min-width: 1200px) {
  /* Footer Section */
  .kontak {
    height: 100%;
  }
  .footer .container-fluid .awal {
    padding-top: 20px;
  }
  .footer .awal {
    margin-top: 0;
    margin-bottom: 0 !important;
  }
  /* .footer .contact {
        margin-right: 30px !important;
    } */
  .footer .address {
    font-size: 13px;
    color: #fff;
  }
  /* .column1 {
        padding-left: 60px;
    } */
}
@media only screen and (min-width: 1400px) {
  .footer .address {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1600px) {
  .footer .address {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1800px) {
  .footer .address {
    font-size: 13px;
  }
}
/* @media only screen and (max-height: 500px) {
  .awal {
    padding-top: 50px;
  }
} */
/* @media only screen and (max-height: 670px) {
  .bottomBar h1 {
    padding: 2px;
    margin-bottom: 0 !important;
  }
} */

.icon-footer {
  width: 6vw;
}

.container-icon {
  display: flex;
  gap: 10px;
  /* justify-content: space-between;
    max-width: 60%; */
}

@media only screen and (min-width: 600px) {
  .icon-footer {
    width: 5vw;
  }
  .container-icon {
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .icon-footer {
    width: 3vw;
  }
  .footer .icon-logo .logoFooter {
    letter-spacing: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .icon-footer {
    width: 2vw;
  }
}

@media only screen and (min-width: 1200px) {
  .icon-footer {
    width: 1.5vw;
  }
}
