@media only screen and (max-width: 600px) {
  .rincian-5 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .rincian-5 {
    display: none;
  }
}

@media only screen and (min-width: 922px) {
  .rincian-5 {
    border-radius: 2em / 2em;
    order: 4 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 215px;
    background-color: #f0f5f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .rincian-5 .icon {
    width: 10%;
    height: 30%;
    margin-left: 10px;
  }
  .rincian-5 .iconPS {
    width: 90%;
  }
  .rincian-5 a {
    text-decoration: none;
  }
  .rincian-5 .btn .icon {
    margin-left: 20px;
    padding-top: 2px;
    width: 20px !important;
  }
}
