.container {
    background-image: url("../../pages/assets/images/timSepakat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
