.tmb-selengkapnya-wrapper .btnInfo {
  font-family: 'Nunito Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
  /* .containerListVideo {
    overflow: hidden;
    overflow-x: hidden;
  }
  .containerListVideo .judul {
    display: none;
  }
  .head3-vidio {
    display: block !important;
  }
  .head3-vidio .vidio-wrapper {
    margin-left: 0;
  }
  .head3-vidio .vidio-wrapper .col-3 {
    margin-right: 30px;
  }
  .head3-vidio .head3-vidio .rows2 {
    flex-direction: column !important;
  } */
  .card .cards {
    background-color: transparent !important;
    border: none;
    width: 100%;
  }
  .card .cards video {
    border-radius: 30px !important;
  }
  .card .card-img-overlay .cio {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card .card-img-overlay .card-title {
    padding-left: 5%;
  }
  .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
    padding: 5%;
  }
  .card .card-img-overlay .card-text {
    width: 300px;
  }
  .card .card-img-overlay .iconText-wrapper .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card .card-img-overlay .iconText-wrapper .iconText img {
    width: 40px;
    height: 38px;
  }
  .card .card-img-overlay .iconText-wrapper .iconText p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefd;
  }
  .card .card-img-overlay .tmb-selengkapnya-wrapper {
    text-align: center;
  }
  .card .playbtn {
    cursor: pointer !important;
    border: none;
  }
  .tmb-play-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .tmb-play-wrapper::before {
    opacity: 0.5;
  }
  .tmb-play-wrapper .playbtn {
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .tmb-play-wrapper .playbtn img {
    width: 30%;
  }
  .playbtn.active {
    opacity: 0 !important;
    transition: 0.5s;
  }
  .playbtn.not-active {
    opacity: 1;
    transition: 0.5s;
  }
  .tmb-selengkapnya-wrapper {
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 75px;
    background-color: transparent;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tmb-selengkapnya-wrapper .btnInfo {
    border-radius: 50px;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .tmb-selengkapnya-wrapper.actived {
    opacity: 1;
    transition: 0.5s;
  }
  .tmb-selengkapnya-wrapper.not-actived {
    opacity: 1 !important;
    transition: 0.5s;
  }
}
@media only screen and (min-width: 600px) {
  /* .containerListVideo {
    overflow: hidden;
    overflow-x: hidden;
  }
  .containerListVideo .judul {
    font-size: 30px;
    font-weight: 700;
    color: #4d4d4d;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .head3-vidio {
    display: block !important;
  }
  .head3-vidio .vidio-wrapper {
    margin-left: 0;
  }
  .head3-vidio .vidio-wrapper .col-3 {
    margin-right: 30px;
  }
  .head3-vidio .head3-vidio .rows2 {
    flex-direction: column !important;
  } */
  .card .cards {
    background-color: transparent !important;
    border: none;
    width: 100%;
  }
  .card .cards video {
    border-radius: 30px !important;
  }
  .card .card-img-overlay .cio {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card .card-img-overlay .card-title {
    padding-left: 5%;
  }
  .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
    padding: 5%;
  }
  .card .card-img-overlay .card-text {
    width: 300px;
  }
  .card .card-img-overlay .iconText-wrapper .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card .card-img-overlay .iconText-wrapper .iconText img {
    width: 40px;
    height: 38px;
  }
  .card .card-img-overlay .iconText-wrapper .iconText p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefd;
  }
  .card .card-img-overlay .tmb-selengkapnya-wrapper {
    text-align: center;
  }
  .card .playbtn {
    cursor: pointer !important;
    border: none;
  }
  .tmb-play-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .tmb-play-wrapper::before {
    opacity: 0.5;
  }
  .tmb-play-wrapper .playbtn {
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .tmb-play-wrapper .playbtn img {
    width: 30%;
  }
  .playbtn.active {
    opacity: 0;
    transition: 0.5s;
  }
  .playbtn.not-active {
    opacity: 1;
    transition: 0.5s;
  }
  .tmb-selengkapnya-wrapper {
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 75px;
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tmb-selengkapnya-wrapper .btnInfo {
    border-radius: 50px;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .tmb-selengkapnya-wrapper.actived {
    opacity: 1 !important;
    transition: 0.5s;
  }
  .tmb-selengkapnya-wrapper.not-actived {
    opacity: 0;
    transition: 0.5s;
  }
}
@media only screen and (min-width: 768px) {
  .containerListVideo {
    overflow: hidden;
    overflow-x: hidden;
  }
  .containerListVideo .judul {
    font-size: 30px;
    font-weight: 700;
    color: #4d4d4d;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .head3-vidio {
    display: block !important;
  }
  .head3-vidio .vidio-wrapper {
    margin-left: 0;
  }
  .head3-vidio .vidio-wrapper .col-3 {
    margin-right: 30px;
  }
  .head3-vidio .head3-vidio .rows2 {
    flex-direction: column !important;
  }
  .head3-vidio .card .cards {
    background-color: transparent !important;
    border: none;
    width: 100%;
  }
  .head3-vidio .card .cards video {
    border-radius: 30px !important;
  }
  .head3-vidio .card .card-img-overlay .cio {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .head3-vidio .card .card-img-overlay .card-title {
    padding-left: 5%;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
    padding: 5%;
  }
  .head3-vidio .card .card-img-overlay .card-text {
    width: 300px;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: 40px;
    height: 38px;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefd;
  }
  .head3-vidio .card .card-img-overlay .tmb-selengkapnya-wrapper {
    text-align: center;
  }
  .head3-vidio .card .playbtn {
    cursor: pointer !important;
    border: none;
  }
  .head3-vidio .tmb-play-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .head3-vidio .tmb-play-wrapper::before {
    opacity: 0.5;
  }
  .head3-vidio .tmb-play-wrapper .playbtn {
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .head3-vidio .tmb-play-wrapper .playbtn img {
    width: 30%;
  }
  .head3-vidio .playbtn.active {
    opacity: 0;
    transition: 0.5s;
  }
  .head3-vidio .playbtn.not-active {
    opacity: 1;
    transition: 0.5s;
  }
  .head3-vidio .tmb-selengkapnya-wrapper {
    opacity: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;
    border-radius: 25px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper .btnInfo {
    border-radius: 50px;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper.actived {
    opacity: 1 !important;
    transition: 0.5s;
  }
  .head3-vidio .tmb-selengkapnya-wrapper.not-actived {
    opacity: 0;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  .containerListVideo .judul {
    font-size: 24px;
    font-weight: 700;
    color: #4d4d4d;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 5%;
  }
  .head3-vidio {
    display: block !important;
  }
  .head3-vidio .vidio-wrapper {
    margin-left: 5%;
  }
  .head3-vidio .vidio-wrapper .col-3 {
    margin-right: 30px;
  }
  .head3-vidio .card .cards {
    background-color: transparent !important;
    border: none;
    width: 100%;
  }
  .head3-vidio .card .cards video {
    border-radius: 30px !important;
  }
  .head3-vidio .card .card-img-overlay .cio {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .head3-vidio .card .card-img-overlay .card-title {
    padding-left: 5%;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
    padding: 5%;
  }
  .head3-vidio .card .card-img-overlay .card-text {
    width: 300px;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: 40px;
    height: 38px;
  }
  .head3-vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefd;
  }
  .head3-vidio .card .card-img-overlay .tmb-selengkapnya-wrapper {
    text-align: center;
  }
  .head3-vidio .card .playbtn {
    cursor: pointer !important;
    border: none;
  }
  .head3-vidio .tmb-play-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .head3-vidio .tmb-play-wrapper::before {
    opacity: 0.5;
  }
  .head3-vidio .tmb-play-wrapper .playbtn {
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .head3-vidio .tmb-play-wrapper .playbtn img {
    width: 30%;
  }
  .head3-vidio .playbtn.active {
    opacity: 0;
    transition: 0.5s;
  }
  .head3-vidio .playbtn.not-active {
    opacity: 1;
    transition: 0.5s;
  }
  .head3-vidio .tmb-selengkapnya-wrapper {
    opacity: 0;
    width: 100%;
    height: 75px;
    background-color: transparent !important;
    border-radius: 25px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper .btnInfo {
    border-radius: 50px;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper.actived {
    opacity: 1 !important;
    transition: 0.5s;
  }
  .head3-vidio .tmb-selengkapnya-wrapper.not-actived {
    opacity: 0;
    transition: 0.5s;
  }
}
@media only screen and (min-width: 1200px) {
  .tmb-selengkapnya-wrapper .btnInfo {
    margin-left: 15px;
  }
  .tmb-selengkapnya-wrapper {
    background-color: transparent !important;
  }
}
@media only screen and (min-width: 1200px) and (max-height: 500px) {
  .cards {
    width: 165px;
  }
}

@media only screen and (min-width: 1200px) and (min-height: 500px) {
  .cards {
    width: 160px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper {
    height: 70px;
  }
  .tmb-selengkapnya-wrapper .btnInfo {
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 800px) {
  .cards {
    width: 265px;
  }
  .head3-vidio .tmb-selengkapnya-wrapper {
    height: 70px;
  }
  .tmb-selengkapnya-wrapper .btnInfo {
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 900px) {
  .cards {
    width: 270px;
  }
}
@media only screen and (max-height: 500px) {
  .tmb-play-wrapper {
    left: 0;
  }
}
