.mantine-mkghez {
    margin-right: 0 !important;
}
.mantine-2yup0d {
    background-color: #f2eec8;
    opacity: 1;
}
.image {
    /* background-size: cover;
    -webkit-transition: all 0.3s ease-in-out;
    height: 100%; */
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 150%;
    -webkit-transition: all 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/2;
    object-fit: contain;
}
.image:hover {
    /* -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.5s ease; */
    background-size: 120%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
