@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Scroll-Snap CSS */
/* .App {
  height: 100vw;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
section {
  scroll-snap-align: start;
} */
/* .scroll-container {
  scroll-snap-type: y mandatory !important;
  overflow-y: scroll;
}
.scroll-area {
  scroll-snap-align: center;
} */

.containerCupon {
  background-image: url("../pages/assets/images/image-backgroundCupon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img {
  user-drag: none;
}
@media only screen and (max-width: 600px) {
  /* Snap Class */
  .pagesscroll1 {
    height: 100% !important;
  }
  .pagesscroll2 {
    height: 100% !important;
    margin-bottom: 30px;
  }
  .pagesscroll3 {
    height: 90% !important;
  }
  .pagesscroll4 {
    height: 99% !important;
  }
  .pagesscroll5 {
    margin-top: 200px;
    height: 99% !important;
  }
  /* End Snap Class */
  /* Jumbotron Section */
  .jumbotron {
    font-family: "Poppins", sans-serif;
    height: auto;
  }
  .jumbotron .container-fluid {
    padding-top: 12%;
    color: #fff;
    padding-left: 5%;
  }
  .jumbotron .container-fluid h1 {
    font-size: 65px !important;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 5px;
    transition: 0.5s;
  }
  .jumbotron .container-fluid p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  /* End Jumbotron */

  /* Main Section */
  .row {
    overflow: hidden;
    position: relative;
  }
  .pertama {
    margin-top: 1%;
    display: flex;
    align-items: center;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
  .pattern1 {
    padding: 0;
    width: 40%;
    margin-left: 60%;
  }
  .pattern2 {
    position: absolute;
    top: 70%;
    padding: 0;
    width: 200px;
    padding: 0;
    z-index: -1;
  }
  .head1 {
    padding-top: 100px;
  }
  .head1 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #278253;
    padding-left: 25px;
    transition: 0.5s;
    font-size: 40px;
  }

  /* Head2 Section */
  .head2 {
    background-image: url("../pages/assets/images/timSepakat.png");
    width: 100%;
    /* position: relative; */
    height: 100%;
    object-fit: cover;
    transition: 1 !important;
    display: flex;
    flex-direction: column;
  }
  .head2 img {
    width: 100%;
  }
  .agenChild {
    position: relative;
  }
  .head2 .card-img-overlay {
    left: 5%;
    top: 44px;
    height: fit-content;
    z-index: 1;
    margin: 0 5%;
  }
  .head2 .title {
    text-align: start;
    font-family: "Poppins", sans-serif;
    color: #f56600;
    font-weight: 700;
    margin-top: 32px;
  }
  /* Slider Section Head2 */

  .head2 .btn {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 12px;
    margin-bottom: 30px;
  }
  /* End Slider Section Head2 */
  .head2 .pattern3 {
    width: 35%;
    position: absolute;
    top: 70%;
    left: 65%;
    border-radius: 0;
    z-index: -1;
  }
  /* End Head2 */

  /* Head3 Section */
  .head3 {
    margin-top: 32px;
  }
  .head3 .title {
    margin-top: 32px;
  }
  .head3 .tajuk {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1c7849;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Carousel Head3 Section */
  .head3Article {
    margin-bottom: 100px;
  }
  .head3Article .swiper .card {
    border-radius: 10px;
  }
  .head3Article .swiper .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
  }
  .head3Article .swiper .card .card-img-overlay .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .head3Article .swiper .card .card-img-overlay .iconText p {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .head3Article .swiper .card .card-img-overlay .iconText-wrapper img {
    width: 30px;
  }
  .head3Article .swiper {
    width: 100%;
    height: 100%;
    padding-left: 10%;
  }
  .head3Article .pattern4 {
    width: 100px;
    position: absolute;
    top: 20%;
    z-index: -1;
  }
  /*  .head3Article,
  .head3Vidio .pattern4 {
    width: 100px;
    position: absolute;
    top: 0;
    z-index: -1;
  } */
  .head3Article .pattern5 {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .head3Article .swiper .btn {
    font-family: "Nunito Sans", sans-serif;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 12px;
  }

  /* End Carousel Head3 */
  /* End Head3 Section */

  /* Jumbotron2 Section */
  .container-fluid .jumbotron-2 {
    margin-top: 150px;
    background-color: #f2eec8;
  }
  .container-fluid .jumbotron-2 .container-fluid {
    margin-left: 5px;
  }
  .container-fluid .jumbotron-2 h1 {
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    color: #f56600;
    font-size: 25px;
    font-weight: 700;
  }
  .container-fluid .jumbotron-2 p {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
  }
  .container-fluid .jumbotron-2 .playstore {
    width: 143px;
  }
  .container-fluid .jumbotron-2 .logoHp {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  .container-fluid .jumbotron-2 .logoHp .hp1 {
    margin-right: -150px;
    margin-left: 18%;
  }
  .container-fluid .jumbotron-2 .logoHp img {
    margin: 0;
    width: 65%;
  }
  /* .dekstopPartners {
    display: none;
  } */
  .dekstopView {
    display: none;
  }
  .footerContainer {
    display: none;
  }
  .mobileView {
    overflow: hidden !important;
  }
}
@media only screen and (max-width: 600px) and (max-height: 500px) {
  .head2 .card-img-overlay {
    top: 35px;
    left: 0;
  }
  .head2 .title {
    text-align: center;
    font-size: 26px;
    margin-top: 32px;
    padding: 0 24px;
  }

  .head3 {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 600px) and (min-height: 500px) {
  .head2 .card-img-overlay {
    top: 35px;
    left: 0;
  }
  .head2 .title {
    text-align: center;
    font-size: 26px;
    margin-top: 32px;
    padding: 0 24px;
  }

  .head3 {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 600px) and (min-height: 600px) {
  .head2 .title {
    padding: 0 24px;
    margin-bottom: 30px;
  }
  .head3 {
    margin-top: 32px;
  }
  .head3 .tajuk {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) and (min-height: 700px) {
  .head2 .title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) and (min-height: 800px) {
  .head3 .tajuk {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 600px) and (min-height: 900px) {
  .head3 .tajuk {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*-----------------------------------------------------------------

 Small devices (portrait tablets and large phones, 600px and up) 
 
 ------------------------------------------------------------------*/
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 600px) {
  /* .pagesscroll7 {
    height: auto !important;
  } */
  .dekstopView {
    display: none;
  }
  .SectionWrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
  }
  .section {
    height: 100vh;
    scroll-snap-align: center;
  }
  /* .dekstopPartners {
    display: none;
  } */
  .pagesscroll4 {
    height: 100% !important;
  }
  /* Jumbotron Section */
  .jumbotron {
    font-family: "Poppins", sans-serif;
    height: 400px;
    margin-top: 0;
  }
  .jumbotron .container-fluid {
    padding-top: 15%;
    color: #fff;
    margin-left: 8%;
    max-width: 90% !important;
    margin-bottom: 5%;
  }
  .jumbotron .container-fluid h1 {
    font-size: 65px !important;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  .jumbotron .container-fluid p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  /* End Jumbotron */

  /* Main Section */
  .row {
    position: relative;
  }
  .pertama {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .img-wrapper {
    width: 100%;
  }
  .pattern1 {
    padding: 0;
    width: 30%;
    margin-left: 70%;
  }
  .pattern2 {
    position: absolute;
    top: 195px;
    padding: 0;
    width: 220px;
    padding: 0;
    z-index: -1;
  }
  .head1 {
    padding-left: 50px;
  }
  .head1 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #278253;
    transition: 0.5s;
    font-size: 50px;
  }
  /* Slider Section */
  .rekomendasiRumah {
    margin-top: 50px;
    padding-right: 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
  }
  .rekomendasiRumah .swiper .swiper-wrapper {
    width: 450px;
    padding-left: 50px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5% / 10%;
  }
  .rekomendasiRumah .swiper-wrapper .card-img-overlay {
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .rekomendasiRumah .swiper-wrapper .card-img-overlay h5 {
    font-size: 1em;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    padding-right: 100px !important;
  }
  .swiper-button-prev::after,
  .swiper-rtl .swiper-button-next::after {
    padding-left: 100px !important;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    opacity: 0;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    opacity: 0;
  }
  .rekomendasiRumah .swiper-slide {
    width: 80%;
  }

  .rekomendasiRumah .swiper-slide:nth-child(2n) {
    width: 80%;
  }

  .rekomendasiRumah .swiper-slide:nth-child(3n) {
    width: 80%;
  }
  /* End Slider Section */

  /* Promo Section */
  .promoCarousel {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .promoCarousel .swiper-slide img {
    filter: brightness(50%) !important;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .promoCarousel .swiper-slide .info-1 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    padding: 12px;
    top: auto;
    bottom: 1rem;
    left: auto;
    right: 1rem;
    background-color: #ffffff;
    width: 36%;
    border-radius: 10px;
  }
  .promoCarousel .swiper-slide .info-1 p {
    font-size: 75%;
    font-weight: 700;
    color: #000000;
  }
  .promoCarousel .swiper-slide .info-1 a {
    font-family: "Nunito Sans", sans-serif;
    width: 75%;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 12px 0px 12px;
    margin-left: 35px;
  }
  /* End Promo */

  /* Head2 Section */
  .head2 {
    background-image: url("../pages/assets/images/timSepakat.png");
    /* margin-top: -55px; */
    width: 100%;
    /* position: relative; */
    /* height: 100%; */
    min-height: 1000px;
    object-fit: cover;
    transition: 1 !important;
    display: flex;
    flex-direction: column;
  }
  @media (max-height: 700px) {
    .head2 {
      background-image: url("../pages/assets/images/timSepakat.png");
      /* margin-top: -55px; */
      width: 100%;
      /* position: relative; */
      /* height: 100%; */
      min-height: 500px;
      object-fit: cover;
      transition: 1 !important;
      display: flex;
      flex-direction: column;
    }
  }
  .head2 img {
    width: 100%;
  }
  .head2 .card-img-overlay {
    height: fit-content;
    z-index: 1;
    top: 80px;
    left: 5%;
  }
  .head2 .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #f56600;
    font-size: 45px;
    font-weight: 700;
    margin: 40px 0;
  }
  /* Slider Section Head2 */
  .head2 .agenSlider .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
  }

  .head2 .agenSlider .swiper-slide {
    text-align: start;
    font-size: 18px;
    background: transparent;
    padding-left: 10%;
    margin: 0 !important;
    padding: 0;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .head2 .agenSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5% / 10%;
  }
  .head2 .agenSlider .swiper-wrapper .card-img-overlay {
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .head2 .agenSlider .swiper-wrapper .card-img-overlay h5 {
    font-size: 1em;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    padding-right: 100px !important;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next {
    padding-left: 100px !important;
  }
  .head2 .agenSlider .swiper-slide {
    width: 50%;
  }

  .head2 .agenSlider .swiper-slide:nth-child(2n) {
    width: 50%;
  }

  .head2 .agenSlider .swiper-slide:nth-child(3n) {
    width: 50%;
  }
  .head2 .agenSlider .swiper-slide .info-1 p {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    padding-top: 70px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
  }
  .head2 .agenSlider .swiper-slide .info-wrapper {
    position: relative;
  }
  .head2 .agenSlider .swiper-slide .info-1 {
    background-color: #ffffff;
    border-radius: 20px !important;
    margin-top: 213px;
    width: 240px;
    height: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
  }
  .head2 .agenSlider .swiper-slide .info-1 img {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 130px;
    height: 130px;
    z-index: 1;
  }
  .head2 .btn {
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 30px;
  }

  /* End Slider Section Head2 */
  .head2 .pattern3 {
    width: 25%;
    position: absolute;
    top: 429px;
    left: 75%;
    border-radius: 0;
    z-index: -1;
  }
  /* End Head2 */

  /* Head3 Section */
  .head3 {
    margin-top: 45px;
    margin-bottom: 70px;
    position: relative;
  }
  .head3 .tajuk {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #1c7849;
  }
  /* Carousel Head3 Section */
  .head3Article {
    margin-bottom: 50px;
  }
  .head3Article .swiper .card {
    border-radius: 10px;
  }
  .head3Article .swiper .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
  }
  .head3Article .swiper .card .card-img-overlay .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .head3Article .swiper .card .card-img-overlay .iconText p {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .head3Article .swiper .card .card-img-overlay .iconText-wrapper img {
    width: 30px;
  }
  .head3Article .swiper {
    width: 100%;
    height: 100%;
    padding-left: 10%;
  }
  .head3Article .pattern4 {
    width: 90px;
    position: absolute;
    top: 130px;
    z-index: -1;
  }
  .head3Article .pattern5 {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .head3Article .swiper-slide {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .head3Article .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .head3Article .swiper-slide {
    width: 50%;
  }
  .head3Article .swiper-slide .card {
    border-radius: 10px;
  }

  .head3Article .swiper-slide:nth-child(2n) {
    width: 50%;
  }

  .head3Article .swiper-slide:nth-child(3n) {
    width: 50%;
  }
  .head3Article .swiper-slide h5 {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .head3Article .swiper-slide p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    color: #4d4d4d;
  }
  .head3Article .swiper .btn {
    font-family: "Nunito Sans", sans-serif;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    padding: 12px;
  }
  .head3Vidio {
    display: none !important;
  }
  /* End Carousel Head3 */
  /* End Head3 Section */

  /* Jumbotron2 Section */
  .container-fluid .jumbotron-2 {
    margin-top: 80px;
    background-color: #f2eec8;
  }
  .container-fluid .jumbotron-2 .container-fluid {
    margin-left: 5px;
  }
  .container-fluid .jumbotron-2 h1 {
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    color: #f56600;
    font-size: 25px;
    font-weight: 700;
  }
  .container-fluid .jumbotron-2 p {
    font-style: italic;
    font-size: 16px;
    font-weight: 700;
  }
  .container-fluid .jumbotron-2 .playstore {
    width: 143px;
  }
  .container-fluid .jumbotron-2 .logoHp {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  .container-fluid .jumbotron-2 .logoHp .hp1 {
    margin-right: -180px;
    margin-left: 17%;
  }
  .container-fluid .jumbotron-2 .logoHp img {
    margin: 0;
    width: 80%;
  }
  /* End Jumbotron2 */
  /* End Main */
  .footerMobile {
    display: none;
  }
  .mobileView {
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 600px) and (max-height: 500px) {
  .head2 .btn {
    font-size: 15px;
  }
}
@media only screen and (min-width: 600px) and (min-height: 500px) {
  .head2 .btn {
    font-size: 15px;
  }
}
@media only screen and (min-width: 600px) and (min-height: 600px) {
  .pattern2 {
    top: 64%;
    max-width: 251px;
  }
}
@media only screen and (min-width: 600px) and (min-height: 700px) {
}
@media only screen and (min-width: 644px) {
}
/*----------------------------------------------

Medium devices (landscape tablets, 768px and up) 

------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .dekstopView {
    display: none;
  }
  /* Main Section */
  .pertama {
    margin-top: 0;
  }
  .pattern1 {
    padding: 0;
    width: 30%;
    margin-left: 70%;
  }
  .pattern2 {
    z-index: -1;
  }
  .head1 {
    padding-left: 100px;
  }
  /* Head2 Section */
  .head2 .pattern3 {
    width: 20%;
    position: absolute;
    top: 429px;
    left: 80%;
    border-radius: 0;
    z-index: -1;
  }
  /* End Head2 */
  .head3Article .pattern5 {
    width: 20%;
    right: 0;
  }

  /* Carousel Head3 */
  .head3 .tajuk {
    font-size: 4vw;
  }
  .head3Article .swiper .btn {
    margin-left: 30px;
  }
  /* End Carousel Head3 */

  /* Jumbotron-2 Section */
  .container-fluid .jumbotron-2 .logoHp .hp1 {
    margin-right: -180px;
    margin-left: 25%;
  }
  /* End Jumbotron-2 */

  /* End Main Section */
  .mobilePartners {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .head3Vidio {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-height: 500px) {
  .pattern2 {
    top: 65%;
  }
  .head3 {
    margin-top: 30px;
  }
  .head3 .tajuk {
    font-size: 35px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 500px) {
  .head3 .tajuk {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 600px) {
  .head3 {
    margin-top: 40px;
  }
  .head3 .tajuk {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 700px) {
}
@media only screen and (min-width: 768px) and (min-height: 800px) {
  .head3 {
    margin-top: 40px;
  }
  .head3 .tajuk {
    font-size: 3rem;
  }
}
/*----------------------------------------------

Large devices (laptops/desktops, 992px and up) 

-----------------------------------------------*/
@media only screen and (min-width: 992px) {
  .head3 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .dekstopView {
    display: none;
  }
  /* Jumbotron Section */
  .jumbotron .container {
    padding-top: 285px;
  }
  .jumbotron .container h1 {
    margin-bottom: 20px;
  }
  /* End Jumbotron */

  /* Main Section */
  .pertama {
    margin-top: 0;
  }
  .pattern1 {
    padding: 0;
    width: 25%;
    margin-left: 75%;
  }
  .head1 {
    padding-left: 150px;
  }
  .head1 h1 {
    font-size: 75px;
  }
  .pattern2 {
    top: 62%;
    width: 300px;
    z-index: -1;
  }
  /* Head2 */
  .head2 {
    display: flex;
    flex-direction: column;
  }
  .head2 .pattern3 {
    width: 18%;
    position: absolute;
    top: 429px;
    left: 82%;
    border-radius: 0;
    z-index: -1;
  }
  /* End Head2 */

  /* Head2 Section */
  .head2 .title {
    font-size: 50px;
  }
  /* End Head2 Section */

  /* Carousel Head3 Section */
  /* Video Section */
  .head3Vidio {
    display: none;
  }
  .head3Vidio .vidio-wrapper {
    margin-left: 10%;
  }
  .head3Vidio .vidio-wrapper .col-3 {
    margin-right: 30px;
  }

  .head3Vidio .pattern4 {
    width: 180px;
    position: absolute;
    top: 785px;
  }
  .head3Vidio .pattern5 {
    width: 25%;
    margin-left: 75%;
    position: absolute;
    top: 85%;
    z-index: -1;
  }

  .head3Vidio .card {
    background-color: transparent !important;
    border: none;
    width: 290;
  }
  .head3Vidio .card video {
    border-radius: 30px !important;
  }
  .head3Vidio .card .card-img-overlay {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding-left: 5%;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    padding: 5%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    width: 300px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: 40px;
    height: 38px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fefefd;
  }
  .head3Vidio .card .card-img-overlay #tmb-selengkapnya-wrapper {
    text-align: center;
  }
  .head3Vidio .card .playbtn {
    cursor: pointer !important;
    border: none;
  }
  .head3Vidio .card #tmb-play-wrapper {
    position: absolute;
    top: 40%;
    z-index: 1;
    display: block;
    width: 100%;
  }
  .head3Vidio .card #tmb-play-wrapper::before {
    opacity: 0.5;
  }
  .head3Vidio .card #tmb-play-wrapper .playbtn {
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .head3Vidio .card #tmb-play-wrapper .playbtn img {
    width: 30%;
  }
  .head3Vidio .card .playbtn.active {
    opacity: 0;
    transition: 0.5s;
  }
  .head3Vidio .card .playbtn.not-active {
    opacity: 1;
    transition: 0.5s;
  }
  .head3Vidio .card #tmb-selengkapnya-wrapper {
    opacity: 0;
    width: 100%;
    height: 75px;
    background-color: #fff;
    border-radius: 25px;
  }
  .head3Vidio .card #tmb-selengkapnya-wrapper .btnInfo {
    margin-top: 16px;
    border-radius: 50px;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .head3Vidio .card #tmb-selengkapnya-wrapper.actived {
    opacity: 1 !important;
    transition: 0.5s;
  }
  .head3Vidio .card #tmb-selengkapnya-wrapper.not-actived {
    opacity: 0;
    transition: 0.5s;
  }
  .head3Vidio .tombolSelengkapnya {
    text-align: center;
    width: 75%;
    margin-top: 65px;
  }
  .head3Vidio .tombolSelengkapnya button {
    padding: 20px 30px 20px 30px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  /* End Vidio Section */
  /* End Head3 */

  /* Head4 */
  .head4 {
    margin-top: 0;
  }
  /* End Head4 */

  /* Jumbotron-2 Section */
  .jumbotron-2 .heading {
    padding-top: 65px;
  }
  .jumbotron-2 .heading h1 {
    font-size: 4vw;
  }
  .jumbotron-2 .heading p {
    font-size: 2vw;
  }
  .jumbotron-2 .heading .playstore {
    width: 20vw;
  }
  .jumbotron-2 .kolom1 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  /* End Jumbotron-2 Section */
  /* End Main  */
  .mobilePartners {
    margin-top: 30px;
    margin-bottom: 145px;
  }
}
@media only screen and (min-width: 992px) and (max-height: 500px) {
  .mobilePartners {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 992px) and (min-height: 500px) {
  .mobilePartners {
    margin-bottom: 0;
  }
  .pattern2 {
    top: 67%;
  }
}
@media only screen and (min-width: 992px) and (min-height: 700px) {
}

/*-------------------------------------------------------------- 

Extra large devices (large laptops and desktops, 1200px and up) 

----------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
  .pagesscroll1 {
    height: 100vh !important;
  }
  .pagesscroll2 {
    height: 100vh !important;
  }
  .pagesscroll3 {
    height: 100vh !important;
  }
  .pagesscroll4 {
    height: 100vh !important;
  }
  .pagesscroll5 {
    height: 100vh !important;
  }
  .pagesscroll6 {
    height: 100vh !important;
  }
  .mobileView {
    display: none !important;
  }
  .dekstopView {
    display: block;
    overflow: hidden;
  }
  .mobilePartners {
    display: none;
  }
  .dekstopPartners {
    display: block;
  }
  /* Jumbotron Section */
  .jumbotron {
    height: 633px;
  }
  .jumbotron .container-fluid {
    padding-top: 25%;
  }
  /* End Jumbotron */
  /* Main Section */
  .pertama {
    margin-top: 0;
  }
  .head1 {
    padding-left: 250px !important;
    padding-top: 15%;
  }
  .head1 h1 {
    font-size: 85px;
  }
  .rekomendasiRumah .swiper .swiper-wrapper {
    padding-left: 100px;
  }
  .pattern1 {
    width: 20%;
    position: absolute;
    z-index: -1;
    right: 0;
  }
  .pattern2 {
    top: 68%;
    max-width: 349px;
    max-height: 446px;
    width: 100%;
    z-index: -1;
  }
  /* Promo Section */
  .promoCarousel .swiper-slide img {
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
  }
  .promoCarousel .swiper-slide .info-1 {
    top: auto;
    width: 40em;
    height: 19em;
    right: 73px !important;
    left: auto;
    bottom: 2rem !important;
    right: 2rem !important;
  }
  .promoCarousel .swiper-slide .info-1 p {
    font-size: 48px;
  }
  .promoCarousel .swiper-slide .info-1 a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 253px;
    height: 81px;
    padding: 24px 48px 24px 48px;
    margin-left: 390px;
    margin-top: -20px;
  }
  /* End Promo */

  /* AgenSlider Section*/
  .head2 {
    display: flex;
    flex-direction: column;
  }
  .head2 .card-img-overlay {
    top: 75px;
    left: 8%;
  }
  .head2 .agenSlider {
    margin-top: -330px;
  }
  .head2 .agenSlider .swiper {
    bottom: 35px;
  }
  .head2 .agenSlider .swiper-wrapper {
    padding-left: 0;
    justify-content: center;
    gap: 50px;
  }
  .head2 .agenSlider .swiper-slide .info-1 {
    background-color: #ffffff;
    border-radius: 20px !important;
    margin-top: 223px;
    width: 136%;
    max-width: 320px;
    height: 200px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
  }
  .head2 .agenSlider .swiper-slide {
    width: 20%;
    margin-right: 65px !important;
  }

  .head2 .agenSlider .swiper-slide:nth-child(2n) {
    width: 20%;
  }

  .head2 .agenSlider .swiper-slide:nth-child(3n) {
    width: 20%;
  }
  .head2 .agenSlider .swiper-slide .info-1 img {
    position: absolute;
    top: auto;
    left: 150px;
    width: 100%;
    max-width: 160px;
    height: auto;
    z-index: 1;
    bottom: 8rem;
    right: 0;
  }
  .head2 .agenSlider .swiper-slide .info-1 p {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
  }

  .head2 .btn {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    max-width: 190px;
    width: 100%;
    transition: 0.5s;
  }
  .head2 .title {
    font-size: 70px;
  }
  /* End AgenSlider */
  .head2 .head2IMG {
    height: 100vh;
    object-fit: cover;
  }
  .head2 .pattern3 {
    top: 600px;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
  .head3Article {
    display: none;
  }

  .head3Vidio {
    display: block !important;
  }
  .head3Vidio .pattern4 {
    width: 180px;
    position: absolute;
    top: 0;
  }
  .head3Article,
  .head3Vidio .pattern5 {
    width: 25%;
    margin-left: 75%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  /* Jumbotron-2 Section */
  .container-fluid .jumbotron-2 .logoHp img {
    width: 100%;
  }
  .jumbotron-2 .heading {
    padding-left: 6% !important;
  }
  /* End Jumbotron-2 */
  /* End Main */
  .footerContainer {
    /* position: absolute; */
    bottom: 0;
    width: inherit;
  }
  .footerMobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-height: 500px) {
  .pagesscroll7 {
    height: 180vh;
  }
  .pattern1 {
    width: 15%;
  }
  .pattern2 {
    top: 50%;
    width: 60%;
  }
  .head2 {
    height: 100vh;
  }
  .head2 .title {
    font-size: 40px;
    padding-top: 10px;
  }
  .head2 .btn {
    font-size: 13px;
    padding: 10px;
    margin-top: 30px;
  }
  .head3 {
    margin-top: 5px;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
  .head3Vidio .card {
    width: 165px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 500px) {
  .pagesscroll7 {
    height: 180vh;
  }
  .pattern1 {
    width: 18%;
  }
  .pattern2 {
    top: 50%;
    width: 70%;
  }
  .head2 {
    height: 100vh;
  }
  .head2 .title {
    font-size: 50px;
    padding-top: 10px;
  }
  .head3Vidio .card {
    width: 160px;
  }
  .head3 {
    margin-top: 75px;
  }
  .head2 .btn {
    margin-top: 10px;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
  .head3Vidio .pattern4 {
    width: 85px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 600px) {
  .pattern2 {
    top: 60%;
  }
  .head2 .title {
    font-size: 60px;
    padding: 20px 70px;
    margin: 60px 0;
  }
  .head2 .btn {
    margin-top: 10px;
  }
  .dekstopPartners {
    margin-top: 10px;
  }
  .footerContainer {
    bottom: 0;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 700px) {
  .pattern2 {
    top: 65%;
  }
  .head2 .title {
    font-size: 60px;
    padding: 60px 70px;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
  .head3Vidio .card {
    width: 230px;
  }
  .dekstopPartners {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footerContainer {
    bottom: 0;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 800px) {
  .pattern2 {
    width: 75%;
    top: 71%;
  }
  .pattern4 {
    width: 120px;
  }
  .head3Vidio .card {
    width: 265px;
  }
  .head2 {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
  }
  .dekstopPartners {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
  .head2 .title {
    margin: 65px 0;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 900px) {
  .head3 {
    margin-top: 150px;
  }
  .head3Vidio .card {
    width: 270px;
  }
}
@media only screen and (min-width: 1400px) and (min-height: 500px) {
  .pattern2 {
    top: 55%;
  }
  .head2 .title {
    padding-top: 25px;
  }
}
@media only screen and (min-width: 1400px) and (min-height: 600px) {
  .pattern2 {
    top: 60%;
  }
  .footerContainer {
    bottom: 0;
  }
  .head2 .title {
    padding: 50px 190px;
    margin: 0;
  }
}
@media only screen and (min-width: 1400px) and (min-height: 700px) {
  .pattern2 {
    width: 75%;
  }
  .head2 .title {
    padding: 50px 190px;
    margin: 40px 0;
  }
  .head3Vidio .card {
    width: 235px;
  }
  .head3 .tajuk {
    font-size: 2em;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1400px) and (min-height: 800px) {
  .pattern2 {
    width: 80%;
    top: 70%;
  }
  .head3Vidio .card {
    width: 300px;
  }
  .head2 .title {
    padding: 20px 190px;
    margin: 110px 0;
  }
  .head3 .tajuk {
    font-size: 2em;
    padding: 10px 0;
  }
  .footerContainer {
    bottom: 0s;
  }
}
@media only screen and (min-width: 1600px) {
  .jumbotron .container-fluid {
    padding-top: 30%;
  }
  .head2 .agenSlider .swiper-wrapper {
    gap: 0;
  }
  .head3Article,
  .head3Vidio .pattern5 {
    top: 50%;
  }
  .head2 .pattern3 {
    top: 460px;
    transition: 1s;
  }
  .head3Article,
  .head3Vidio .pattern5 {
    width: 25%;
    margin-left: 75%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  .head2 .card-img-overlay {
    left: 15%;
  }
}
@media only screen and (min-width: 1600px) and (max-height: 500px) {
}
@media only screen and (min-width: 1600px) and (min-height: 500px) {
}
@media only screen and (min-width: 1600px) and (min-height: 600px) {
}
@media only screen and (min-width: 1600px) and (min-height: 800px) {
  .head3 {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 900px) {
}
@media only screen and (min-width: 1800px) {
  .head2 .swiper-slide {
    margin-right: 50px !important;
  }
  .head2 .card-img-overlay {
    left: 18%;
  }
}
@media only screen and (min-width: 1800px) and (max-height: 500px) {
}
@media only screen and (min-width: 1800px) and (min-height: 500px) {
}
@media only screen and (min-width: 1800px) and (min-height: 600px) {
  .head3 .tajuk {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1800px) and (min-height: 700px) {
  .head3 .tajuk {
    font-size: 3em;
  }
}
@media only screen and (min-width: 1800px) and (min-height: 800px) {
  .head2 .title {
    padding: 70px 350px;
    margin: 55px 0;
  }
  .head3 .tajuk {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1800px) and (min-height: 900px) {
  .head2 .title {
    font-size: 70px;
    padding: 100px 370px;
  }
  .footerContainer {
    bottom: 0;
  }
}
@media only screen and (max-height: 500px) {
  .head2 .head2IMG {
    height: 100vh;
  }
  /* Video Section */
  .head3Vidio {
    margin-top: -20px;
  }

  .head3Vidio .pattern4 {
    width: 100px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 13px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 12px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 20px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 13px;
  }
  /* End Video Section */
  .head2 .agenSlider {
    margin-top: -292px;
  }
  .head2 .agenSlider .swiper {
    bottom: 55px;
  }
  .head2 .agenSlider .swiper-slide {
    margin-right: 17px;
  }
  .head2 .agenSlider .swiper-slide .info-1 {
    height: 120px;
    max-width: 245px;
  }
  .head2 .agenSlider .swiper-slide .info-1 img {
    bottom: 5rem;
    right: 5px;
    max-width: 100px;
  }
  .head2 .agenSlider .swiper-slide .info-1 p {
    font-size: 13px;
    padding-top: 55px;
  }
  .head2 .pattern3 {
    top: 48px;
  }
}
@media screen and (min-height: 500px) and (max-height: 600px) {
  .head2 .card-img-overlay {
    top: 30px;
  }
  .head2 .head2IMG {
    height: 100vh;
    transition: 0.5s;
  }
  /* Video Section */

  .head3Vidio {
    margin-top: -20px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 13px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 12px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 20px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 13px;
  }

  /* End Video Section */
  .head2 .agenSlider {
    margin-top: -330px;
  }
  .head2 .agenSlider .swiper {
    bottom: 55px;
  }
  .head2 .agenSlider .swiper-slide {
    margin-right: 17px;
  }
  .head2 .agenSlider .swiper-slide .info-1 {
    height: 120px;
    max-width: 245px;
  }
  .head2 .agenSlider .swiper-slide .info-1 img {
    bottom: 5rem;
    right: 5px;
    max-width: 100px;
  }
  .head2 .agenSlider .swiper-slide .info-1 p {
    font-size: 13px;
    padding-top: 55px;
  }
  .head2 .pattern3 {
    top: 150px;
  }
}

@media screen and (min-height: 600px) and (max-height: 700px) {
  /* Video Section */
  .head3Vidio {
    margin-top: -20px;
  }
  .head3Vidio .pattern4 {
    width: 100px;
  }
  .head3Vidio .card {
    width: 220px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 13px;
  }

  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 12px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 20px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 13px;
  }
  /* End Video Section */

  /* Agen Section */
  .head2 .card-img-overlay {
    top: 15px;
  }

  /* End Agen Section */
}
/* @media only screen and (min-height: 500px) and (min-width: 600px) {
  .head2 {
    height: 1300px;
  }
} */
@media only screen and (min-width: 1200px) and (min-height: 600px) {
}
@media only screen and (max-height: 700px) {
  .pagesscroll5 {
    height: 99%;
  }
}
@media only screen and (min-height: 700px) {
  .head3Vidio {
    margin-top: 0px;
  }
  .head3Vidio .pattern4 {
    width: 100px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 13px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 12px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 20px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 13px;
  }
}
@media only screen and (min-height: 800px) {
  .head3Vidio {
    margin-top: 0px;
  }
  .head3Vidio .pattern4 {
    width: 100px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 20px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 16px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 30px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 16px;
  }
}
@media only screen and (min-height: 900px) {
  .head3Vidio {
    margin-top: 0px;
  }
  .head3Vidio .pattern4 {
    width: 100px;
  }
  .head3Vidio .card .card-img-overlay .card-title {
    padding: 0 10%;
    font-size: 23px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper {
    gap: 0;
    padding: 0 10%;
  }
  .head3Vidio .card .card-img-overlay .card-text {
    font-size: 16px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText img {
    width: auto;
    height: 35px;
  }
  .head3Vidio .card .card-img-overlay .iconText-wrapper .iconText p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .pertama {
    margin-top: 0;
  }
}
