@media only screen and (max-width: 600px) {
  .main {
    overflow-x: hidden;
  }
  .toolTipWrapper {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  .main {
    overflow-x: hidden;
  }
  .toolTipWrapper {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    overflow-x: hidden;
  }
  .toolTipWrapper {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .main {
    overflow-x: hidden;
  }
  .toolTipWrapper {
    display: flex !important;
  }
  .toolTipWrapper p {
    margin-bottom: 0;
  }
}
