@media only screen and (max-width: 300px) {
  .tombolSitePlan {
    font-size: 0.5rem;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 400px) {
  .tombolSitePlan {
    font-size: 0.8rem;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif !important;
  }
  .main {
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0 !important;
  }
  .containerImage {
    padding: 0;
    height: 50%;
  }
  .containerImage .image {
    height: 246px !important;
  }
  .tombolSitePlan {
    position: absolute;
    margin-top: -20%;
    margin-left: 60%;
  }
  .carouselContainerDekstop {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .tombolSitePlan {
    position: absolute;
    margin-top: -20%;
    margin-left: 60%;
  }
  .main {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Nunito Sans", sans-serif !important;
  }
  .carouselContainerDekstop {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  /* .main {
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: "Nunito Sans", sans-serif !important;
    } */
  .tombolSitePlan {
    position: absolute;
    margin-top: -10%;
    margin-left: 20%;
  }
  .carouselContainerDekstop {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .main {
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif !important;
  }
  .container2 {
    margin-top: 185px;
  }
  .tombolSitePlan {
    position: absolute;
    margin-top: -7%;
    margin-left: 20%;
  }
  .carouselContainerMobile {
    display: none;
  }
  .carouselContainerDekstop {
    display: block;
  }
  .carouselContainerMobile .rowCardMobileCarousel {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .carouselContainerMobile {
    display: none;
  }
  .carouselContainerDekstop {
    display: block;
  }
}
