@media only screen and (max-width: 600px) {
  .main {
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif !important;
  }
  .main .container-fluid {
    margin: 24px 24px 24px 24px !important;
  }
  .main .container-fluid .rows {
    padding: 10px !important;
  }
  .main .tombol {
    order: 2;
    margin-bottom: 20px;
  }
  .main .deskripsi {
    order: 1;
  }
  .main .sitePlan {
    order: 3 !important;
  }
  .main .sitePlan .btnWrapper {
    position: relative;
  }
  .main .tpRumah {
    order: 4;
  }
  .main .tpRumah .carouselContainerDekstop {
    display: none;
  }
  .main .perumahanLn {
    order: 5;
  }
  .main .tpRumah .row {
    width: 95%;
  }
  .main .tpRumah .row .col .card {
    border: none;
  }
  .main .tpRumah .row .col .card h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .main .tpRumah .row .col .card p {
    font-size: 13px;
    font-weight: 400;
  }
  .main .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .main .tpRumah .row .col .card .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .main .container-fluid {
    margin: 24px -20px 24px 30px;
    padding: 0;
  }
  .main .container-fluid .header .rincian-1 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 p {
    font-size: 12px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 ul {
    display: flex;
  }
  .main .container-fluid .rincian-1 li {
    font-size: 10px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main .container-fluid .rincian-2 .rowRincian2 {
    padding: 10px !important;
  }
  .main .container-fluid .rincian-2 h1 {
    font-size: 14px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-2 h3 {
    font-size: 12px;
    font-weight: 700;
    color: #9b9b9b;
  }
  .main .container-fluid .rincian-2 p {
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-2 .btn {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 700;
  }
  .main .container-fluid .rincian-3 h1 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #f56600;
  }
  .main .tombol p {
    font-size: 14px;
    font-weight: 700;
  }
  .main .sitePlan .sitePlanImg {
    width: 100%;
  }
  .main .sitePlan .tombolSitePlan {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 46%;
    top: 80%;
    width: 35%;
  }
  .main .tombol .spanTombol1 {
    position: relative;
    margin-right: 10px;
  }
  .main .tombol .spanTombol1 button {
    padding-left: 40px;
  }
  .main .tombol .spanTombol1 img {
    position: absolute;
    top: 4px;
    left: 17px;
  }
  .main .tombol .spanTombol2 {
    position: relative;
  }
  .main .tombol .spanTombol2 button {
    padding-left: 45px;
  }
  .main .tombol .spanTombol2 img {
    position: absolute;
    top: 2px;
    left: 16px;
  }
  .main .container-fluid .rincian-3 p {
    text-align: justify;
    padding-right: 0;
    font-size: 12px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-4 h1 {
    font-size: 14px;
    font-weight: 700;
    color: #f56600;
    margin: 24px 0;
  }
  .main .rowMobileCard {
    margin-right: 40px !important;
  }
  .main .rowMobileCard .cards {
    border: none;
  }
  .main .container-fluid .rincian-5 {
    display: none;
    width: 332px;
    height: 231px;
    background-color: #bcbec0;
  }
  .main .container-fluid .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .main .container-fluid .rincian-5 .tombolRincian5 {
    padding-top: 2px;
    width: 20px;
    margin-left: 20px;
  }

  .main .container-fluid .item4 h1 {
    font-size: 14px;
    font-weight: 700;
    color: #f56600;
    margin: 24px 0;
  }
  .main .container-fluid .item4 .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 88%;
  }
  .main .container-fluid .item4 .lokasiPerumahan p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu {
    width: 134px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan img {
    width: 21%;
  }
  .main .container-fluid .rincian-6 h1 {
    font-size: 14px;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
  }
  .main .cardDekstop {
    display: none !important;
  }
}

/* ------------------------ 
    MIN-WIDTH : 600PX
---------------------------*/
@media only screen and (min-width: 600px) {
  .main {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
  }
  .main .container-fluid .row {
    padding: 10px !important;
  }
  .main .tombol {
    order: 2;
    margin-bottom: 20px;
  }
  .main .deskripsi {
    order: 1;
  }
  .main .sitePlan {
    order: 3 !important;
  }
  .main .sitePlan .btnWrapper {
    position: relative;
  }
  .main .tpRumah {
    order: 4;
  }
  .main .tpRumah .carouselContainerDekstop {
    display: none;
  }
  .main .perumahanLn {
    order: 5;
  }
  .main .tpRumah .row {
    width: 95%;
  }
  .main .tpRumah .row .col .card {
    border: none;
  }
  .main .tpRumah .row .col .card h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .main .tpRumah .row .col .card p {
    font-size: 13px;
    font-weight: 400;
  }
  .main .tpRumah .row .col .card .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 34px;
    margin-left: 24px;
  }
  .main .tpRumah .row .col .card .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 34px;
    margin-left: 24px;
  }
  .main .tpRumah .row .col .card .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 34px;
    margin-left: 24px;
  }

  .main .tpRumah .row .col .card .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 34px;
    margin-left: 24px;
  }

  .main .container-fluid {
    margin: 24px 10px 24px 50px;
    padding: 0;
  }
  .main .container-fluid .rincian-1 h1 {
    font-size: 25px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 ul {
    display: flex;
  }
  .main .container-fluid .rincian-1 li {
    font-size: 15px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main .container-fluid .rincian-2 .rowRincian2 {
    padding: 10px !important;
  }
  .main .container-fluid .rincian-2 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-2 h3 {
    font-size: 15px;
    font-weight: 700;
    color: #9b9b9b;
  }
  .main .container-fluid .rincian-2 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-2 .btn {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 700;
  }
  .main .container-fluid .rincian-3 h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .tombol {
    margin-left: 30%;
  }
  .main .tombol p {
    font-size: 14px;
    font-weight: 700;
  }
  .main .sitePlan .tombolSitePlan {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 52%;
    top: 85%;
    width: 220px;
    height: 50px;
  }
  .main .sitePlan .containerStackImage {
    position: relative;
  }
  .main .sitePlan .stackImage {
    position: absolute;
    top: 0;
    width: 10%;
  }
  .main .sitePlan .tombolSitePlan p {
    font-size: 120%;
  }
  .main .tombol .spanTombol1 {
    position: relative;
    margin-right: 10px;
  }
  .main .tombol .spanTombol1 button {
    padding-left: 40px;
  }
  .main .tombol .spanTombol1 img {
    position: absolute;
    top: 4px;
    left: 17px;
  }
  .main .tombol .spanTombol2 {
    position: relative;
  }
  .main .tombol .spanTombol2 button {
    padding-left: 45px;
  }
  .main .tombol .spanTombol2 img {
    position: absolute;
    top: 2px;
    left: 16px;
  }
  .main .container-fluid .rincian-3 p {
    text-align: justify;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-5 {
    display: none;
    width: 332px;
    height: 231px;
    background-color: #bcbec0;
  }
  .main .container-fluid .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .main .container-fluid .item4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .item4 img {
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu {
    width: 100px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan img {
    width: 15%;
  }
  .main .container-fluid .rincian-6 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
  }
  .main .cardDekstop {
    display: none !important;
  }
}

/* ---------------------------
    MIN-WIDTH : 768PX
-----------------------------*/

@media only screen and (min-width: 768px) {
  .main {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
  }
  .main .row {
    margin: 0;
  }
  .main .tombol {
    order: 2;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .main .deskripsi {
    order: 1;
  }
  .main .sitePlan {
    margin-top: 130px;
    order: 3 !important;
  }
  .main .sitePlan .btnWrapper {
    position: relative;
  }
  .main .tpRumah {
    order: 4;
  }
  .main .tpRumah .carouselContainerDekstop {
    display: none;
  }
  .main .perumahanLn {
    order: 5;
  }
  .main .tpRumah .row {
    width: 95%;
  }
  .main .tpRumah .row .col .card {
    border: none;
  }
  .main .tpRumah .row .col .card h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .main .tpRumah .row .col .card p {
    font-size: 13px;
    font-weight: 400;
  }
  .main .tpRumah .row .col .card .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .tpRumah .row .col .card .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .container-fluid {
    margin: 24px 10px 24px 30px;
    padding: 0;
  }
  .main .container-fluid .rincian-1 h1 {
    font-size: 25px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 ul {
    display: flex;
  }
  .main .container-fluid .rincian-1 li {
    font-size: 15px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main .container-fluid .rincian-2 .row {
    padding: 0 !important;
  }
  .main .container-fluid .rincian-2 .row .col {
    padding: 0;
  }
  .main .container-fluid .rincian-2 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-2 h3 {
    font-size: 15px;
    font-weight: 700;
    color: #9b9b9b;
  }
  .main .container-fluid .rincian-2 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-2 .btn {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 700;
  }
  .main .container-fluid .rincian-3 h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .tombol {
    margin-left: 0;
  }
  .main .tombol p {
    font-size: 14px;
    font-weight: 700;
  }
  .main .sitePlan .tombolSitePlan {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 80%;
    width: 35%;
    height: 50px;
  }
  .main .sitePlan .tombolSitePlan p {
    font-size: 120%;
  }
  .main .tombol .spanTombol1 {
    position: relative;
  }
  .main .tombol .spanTombol1 button {
    padding-left: 40px;
  }
  .main .tombol .spanTombol1 img {
    position: absolute;
    top: 4px;
    left: 17px;
  }
  .main .tombol .spanTombol2 {
    position: relative;
  }
  .main .tombol .spanTombol2 button {
    padding-left: 45px;
  }
  .main .tombol .spanTombol2 img {
    position: absolute;
    top: 2px;
    left: 16px;
  }
  .main .container-fluid .rincian-3 p {
    text-align: justify;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-5 {
    display: none;
    width: 332px;
    height: 231px;
    background-color: #bcbec0;
  }
  .main .container-fluid .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .main .container-fluid .item4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .item4 img {
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan {
    background-color: #ffffff;
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu {
    width: 170px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan img {
    width: 22%;
  }
  .main .container-fluid .rincian-6 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
  }
  .main .cardDekstop {
    display: none !important;
  }
}

/* ---------------------------
    MIN-WIDTH : 992PX
-----------------------------*/
@media only screen and (min-width: 992px) {
  .main {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
  }
  .main .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .main .rows {
    padding: 10px;
    margin: 0;
  }
  .main .row {
    margin: 0;
  }
  .rows .pembungkus1 {
    margin-left: 13%;
    margin-right: 0;
  }
  .rows .pembungkus2 {
    margin-right: 0;
    margin-left: 0;
  }
  .main .tombol {
    order: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .main .deskripsi {
    order: 2;
  }
  .main .sitePlan {
    margin-top: 170px;
    order: 3 !important;
  }
  .main .sitePlan .btnWrapper {
    position: relative;
  }
  .main .tpRumah {
    order: 4;
    width: 210%;
  }
  .main .perumahanLn {
    margin-left: 0;
    width: 100%;
    order: 5;
  }
  .main .tpRumah .carouselContainerMobile {
    display: block;
  }
  .main .tpRumah .carouselContainerMobile .rowCardMobileCarousel {
    width: 50%;
  }
  .main .tpRumah .row {
    width: 95%;
  }
  .main .tpRumah .row .col .card {
    border: none;
  }
  .main .tpRumah .row .col .card h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .main .tpRumah .row .col .card p {
    font-size: 13px;
    font-weight: 400;
  }
  .main .tpRumah .row .col .card .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .tpRumah .row .col .card .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .container-fluid {
    margin: 24px 24px 24px 24px;
    padding: 0;
  }
  .main .container-fluid .rincian-1 h1 {
    font-size: 25px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 ul {
    display: flex;
  }
  .main .container-fluid .rincian-1 li {
    font-size: 15px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main .container-fluid .rincian-2 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-2 h3 {
    font-size: 15px;
    font-weight: 700;
    color: #9b9b9b;
  }
  .main .container-fluid .rincian-2 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-2 .btn {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 700;
  }
  .main .container-fluid .rincian-3 h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .tombol p {
    font-size: 14px;
    font-weight: 700;
  }
  .main .sitePlan .tombolSitePlan {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 41%;
    top: 76%;
    width: 45%;
    height: 50px;
  }
  .main .sitePlan .tombolSitePlan p {
    font-size: 120%;
  }
  .main .tombol .spanTombol1 {
    position: relative;
  }
  .main .tombol .spanTombol1 button {
    padding-left: 40px;
  }
  .main .tombol .spanTombol1 img {
    position: absolute;
    top: 4px;
    left: 17px;
  }
  .main .tombol .spanTombol2 {
    position: relative;
  }
  .main .tombol .spanTombol2 button {
    padding-left: 45px;
  }
  .main .tombol .spanTombol2 img {
    position: absolute;
    top: 2px;
    left: 16px;
  }
  .main .container-fluid .rincian-3 p {
    text-align: justify;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-5 {
    border-radius: 2em / 2em;
    order: 4 !important;
    display: block !important;
    width: 300px;
    height: 215px;
    background-color: #f0f5f9;
  }
  .main .container-fluid .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .main .container-fluid .rincian-5 img {
    width: 65%;
    height: 30%;
  }
  .main .container-fluid .rincian-5 a {
    text-decoration: none;
  }
  .main .container-fluid .rincian-5 .btn img {
    margin-left: 20px;
    padding-top: 2px;
    width: 20px !important;
  }
  .main .container-fluid .item4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .item4 img {
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan {
    background-color: #f0f5f9 !important;
    width: 90%;
  }
  .main .container-fluid .item4 .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 {
    align-items: center;
    justify-content: space-between;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu p {
    padding-top: 15px;
    color: #f56600;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
    align-items: center;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan p {
    padding-top: 15px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan img {
    width: 22%;
  }
  .main .container-fluid .rincian-6 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
    padding-left: 14%;
  }
  .main .tpRumah .mobileCard {
    display: block !important;
  }
  .main .cardDekstop {
    display: none !important;
  }
}

/* ------------------------------------

    MIN-WIDTH: 1200PX

--------------------------------------*/
@media only screen and (min-width: 1200px) {
  .main {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
  }
  .main .rows {
    margin: 0;
    padding: 30px !important;
  }
  .main .tombol {
    order: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
  }
  .main .deskripsi {
    order: 2;
  }
  .main .sitePlan {
    margin-top: 170px;
    order: 3 !important;
  }
  .main .sitePlan .btnWrapper {
    position: relative;
  }
  .main .tpRumah {
    width: 100% !important;
    margin-top: 40px;
    order: 4;
  }
  .main .perumahanLn {
    width: 100%;
    order: 5;
  }
  .main .tpRumah .row {
    width: 95%;
  }
  .main .tpRumah .row .col .card {
    border: none;
  }
  .main .tpRumah .row .col .card h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .main .tpRumah .row .col .card p {
    font-size: 13px;
    font-weight: 400;
  }
  .main .tpRumah .row .col .card .card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }
  .main .tpRumah .row .col .card .card3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .tpRumah .row .col .card .card4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin-bottom: 12px;
    margin-left: 3px;
  }

  .main .container-fluid {
    margin: 24px 24px 24px 24px;
    padding: 0;
  }
  .main .container-fluid .header {
    margin-top: 20px;
  }
  .main .container-fluid .rincian-1 h1 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-1 ul {
    display: flex;
  }
  .main .container-fluid .rincian-1 li {
    font-size: 15px;
    font-weight: 700;
    margin-right: 25px;
  }
  .main .container-fluid .rincian-2 {
    margin-top: 50px;
    padding: 0 !important;
  }
  .main .container-fluid .rincian-2 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-2 h3 {
    font-size: 15px;
    font-weight: 700;
    color: #9b9b9b;
  }
  .main .container-fluid .rincian-2 p {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-2 .btn {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 700;
  }
  .main .container-fluid .rincian-3 h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .tombol p {
    font-size: 14px;
    font-weight: 700;
  }
  .main .sitePlan .btnWrapper .tombolSitePlan {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 80%;
    width: 36%;
    height: 50px;
  }
  .main .sitePlan .btnWrapper .tombolSitePlan p {
    font-size: 120%;
  }
  .main .tombol .spanTombol1 {
    position: relative;
  }
  .main .tombol .spanTombol1 button {
    padding-left: 40px;
  }
  .main .tombol .spanTombol1 img {
    position: absolute;
    top: 4px;
    left: 17px;
  }
  .main .tombol .spanTombol2 {
    position: relative;
  }
  .main .tombol .spanTombol2 button {
    padding-left: 45px;
  }
  .main .tombol .spanTombol2 img {
    position: absolute;
    top: 2px;
    left: 16px;
  }
  .main .container-fluid .rincian-3 p {
    text-align: justify;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
  }
  .main .container-fluid .rincian-4 h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .rincian-5 {
    border-radius: 2em / 2em;
    order: 4 !important;
    display: block !important;
    width: 300px;
    height: 215px;
    background-color: #f0f5f9;
  }
  .main .container-fluid .rincian-5 h1 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
  }
  .main .container-fluid .rincian-5 img {
    width: 65%;
    height: 30%;
  }
  .main .container-fluid .rincian-5 a {
    text-decoration: none;
  }
  .main .container-fluid .rincian-5 .btn img {
    margin-left: 20px;
    padding-top: 2px;
    width: 20px !important;
  }
  .main .container-fluid .item4 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
  }
  .main .container-fluid .item4 img {
    width: 93%;
  }
  .main .container-fluid .item4 .lokasiPerumahan {
    background-color: #ffffff;
    width: 90%;
    max-width: 100% !important;
  }
  .main .container-fluid .item4 .lokasiPerumahan p {
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
  }
  .main .container-fluid .item4 .lokasiPerumahan img {
    width: 17% !important;
  }
  .main .container-fluid .item4 .lokasiPerumahan .iconKeterangan {
    flex-basis: 400px;
  }
  .main .container-fluid .item4 .lokasiPerumahan .detail-1 .waktu {
    width: 125px;
  }
  .main .container-fluid .rincian-6 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #f56600;
    margin-bottom: 20px;
  }
  .main .tpRumah .mobileCard {
    display: none !important;
  }
  /* Card Dekstop */
  .main .cardDekstop {
    display: block !important;
  }
  .main .tpRumah .carouselContainerMobile {
    display: none;
  }
  .main .tpRumah .carouselContainerDekstop {
    display: block;
  }
}
