@media only screen and (max-width: 600px) {
    /* Jumbotron Section */
    .jumbotron {
        font-family: "Poppins", sans-serif;
        height: 200px;
        background-image: url("../pages/assets/images/timSepakat.png");
    }
    .jumbotron .input-container {
        padding-top: 50px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        height: 40px;
        width: 90% !important;
        margin-left: 5%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    .jumbotron .input-container input {
        height: 40px;
        border: none;
        width: 100% !important;
        margin-left: 10px;
        background-color: transparent;
    }
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
    /* End Jumbotron */

    /* .Main Section */
    .main {
        overflow-x: hidden;
        font-family: "Nunito Sans", sans-serif;
    }
    .main .tombol {
        order: 2;
        margin-bottom: 20px;
    }
    /* CheckBox Section */
    .tombolPilih {
        margin-left: 10px;
        margin-right: 10px;
    }
    .tombolPilih .pilihProperti .form-check label input[type="checkbox"] {
        display: none !important;
    }
    .tombolPilih .pilihProperti .form-check {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tombolPilih .pilihProperti .form-check div {
        margin-right: 10px;
        margin-top: 20px;
    }
    .tombolPilih .pilihProperti .form-check label {
        cursor: pointer;
    }
    .tombolPilih .pilihProperti .form-check label span {
        box-shadow: 3px 3px 8px 0px #56565626;
        position: relative;
        display: inline-block;
        background-color: transparent;
        padding: 12px 24px 12px 24px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 700;
        border: #f2cd00 solid 1.5px;
        border-radius: 24px;
        border-color: #f2cd00;
        transition: 00.5s;
        user-select: none;
        overflow: hidden;
    }
    .tombolPilih .pilihProperti .form-check label span ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .tombolPilih
        .pilihProperti
        .form-check
        label
        input[type="checkbox"]:checked
        ~ span {
        background-color: #f56600;
        border-color: #f56600;
        color: #fff;
    }
    .rincianProperti .btn {
        padding: 12px 24px 12px 24px;
    }
    /* End CheckBox */
    .main .deskripsi {
        order: 1;
    }
    .main .sitePlan {
        order: 3 !important;
    }
    .main .sitePlan .btnWrapper {
        position: relative;
    }
    .main .tpRumah {
        order: 4;
    }
    .main .perumahanLn {
        order: 5;
    }
    .main .tpRumah .row {
        width: 95%;
    }
    .main .tpRumah .row .col .card {
        border: none;
    }
    .main .tpRumah .row .col .card h5 {
        font-size: 20px;
        font-weight: 700;
    }
    .main .tpRumah .row .col .card p {
        font-size: 13px;
        font-weight: 400;
    }
    .main .tpRumah .row .col .card .card1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 10px;
        margin-left: 3px;
    }
    .main .tpRumah .row .col .card .card2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 10px;
        margin-left: 3px;
    }
    .main .tpRumah .row .col .card .card3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .main .tpRumah .row .col .card .card4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .main .container-fluid {
        margin: 24px 24px 24px 24px !important;
        padding: 0;
    }
    .main .container-fluid .header .rincian-1 h1 {
        font-size: 16px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 p {
        font-size: 12px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 ul {
        display: flex;
    }
    .main .container-fluid .rincian-1 li {
        font-size: 10px;
        font-weight: 700;
        margin-right: 25px;
    }
    .main .container-fluid .rincian-2 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-2 h3 {
        font-size: 12px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .container-fluid .rincian-2 p {
        font-size: 14px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-2 .btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: 700;
    }
    .main .container-fluid .rincian-3 h1 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #f56600;
    }
    .main .tombol p {
        font-size: 14px;
        font-weight: 700;
    }
    .main .sitePlan .sitePlanImg {
        width: 90%;
    }
    .main .sitePlan .tombolSitePlan {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: 55%;
        top: 84%;
        width: 30%;
    }
    .main .tombol .spanTombol1 {
        position: relative;
    }
    .main .tombol .spanTombol1 button {
        padding-left: 40px;
    }
    .main .tombol .spanTombol1 img {
        position: absolute;
        top: 4px;
        left: 17px;
    }
    .main .tombol .spanTombol2 {
        position: relative;
    }
    .main .tombol .spanTombol2 button {
        padding-left: 45px;
    }
    .main .tombol .spanTombol2 img {
        position: absolute;
        top: 2px;
        left: 16px;
    }
    .main .container-fluid .rincian-3 p {
        text-align: justify;
        padding-right: 50px;
        font-size: 12px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-4 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-5 {
        display: none;
        width: 332px;
        height: 231px;
        background-color: #bcbec0;
    }
    .main .container-fluid .rincian-5 h1 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
    }
    .main .container-fluid .rincian-5 .btn {
        padding-top: 2px;
        width: 20px;
        margin-left: 20px;
    }

    .main .container-fluid .item4 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .item4 .lokasiPerumahan {
        background-color: #ffffff;
        width: 88%;
    }
    .main .container-fluid .item4 .lokasiPerumahan p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-1 {
        color: #f56600;
        margin-left: 50px;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-2 {
        color: #f56600;
        margin-left: 60px;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-3 {
        color: #f56600;
        margin-left: 103px;
    }
    .main .container-fluid .rincian-6 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
        margin-bottom: 10px;
    }
    .main .container-fluid .rincianProperti {
        font-family: "Nunito Sans", sans-serif;
    }
    .main .container-fluid .rincianProperti h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .rincianProperti p {
        font-size: 14px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .container-fluid .rincianProperti .pProperti img {
        width: 15px;
        margin-top: -10px !important;
        margin-left: 5px;
    }
    .main .container-fluid .rincianProperti #toolTip {
        cursor: pointer;
        position: relative;
    }
    .main .container-fluid .rincianProperti #toolTip #toolTipText {
        position: absolute;
        background-color: #f56600;
        color: #fff;
        transform: translateX(-50%);
        left: 200%;
        top: 0;
        white-space: nowrap;
        padding: 5px;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-weight: 700;
    }
    .main .container-fluid .rincianProperti #toolTip #toolTipText::before {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        border: 15px solid;
        left: 50%;
        top: 100%;
    }
    .main .container-fluid .rincianProperti #toolTip:hover #toolTipText {
        margin-top: -40px !important;
        visibility: visible;
        opacity: 1;
    }
    .main .container-fluid .rincianProperti .btn-submit p {
        color: #fefefd;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:hover {
        background-color: transparent;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:focus {
        background-color: #f56600;
        border-color: #f56600;
        color: #fff;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:active {
        border-color: #f56600 !important;
    }
    .main .container-fluid .rincianProperti button {
        box-shadow: 3px 3px 8px 0px #56565626;
        font-size: 14px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .cardDekstop {
        display: none !important;
    }
    .main .swiper {
        width: 100%;
        height: 100%;
    }

    .main .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .main .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5% / 10%;
    }
    .main .perumahanLn .swiper-wrapper .card-img-overlay {
        color: #fff;
        padding: 7%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .main .perumahanLn .swiper-wrapper .card-img-overlay h5 {
        font-size: 0.9em;
    }
    .main .perumahanLn .swiper-wrapper .card-img-overlay p {
        font-size: 0.8em;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        padding-right: 100px !important;
        display: none !important;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next {
        padding-left: 100px !important;
        display: none !important;
    }
    .main .perumahanLn .swiper-slide {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(2n) {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(3n) {
        width: 80%;
    }
    .main .container-fluid .jumbotron-2 {
        margin-left: -25px;
        margin-top: 30px;
        background-color: #f2eec8;
    }
    .main .container-fluid .jumbotron-2 .container-fluid {
        margin-left: 5px;
    }
    .main .container-fluid .jumbotron-2 h1 {
        font-family: "Poppins", sans-serif;
        margin-top: 30px;
        color: #f56600;
        font-size: 25px;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 p {
        font-style: italic;
        font-size: 16px;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 .playstore {
        width: 35%;
    }
    .main .container-fluid .jumbotron-2 .logoHp {
        margin-top: 20px;
        position: relative;
        margin-left: -25px;
        margin-bottom: 20px;
    }
    .main .container-fluid .jumbotron-2 .logoHp .hp1 {
        margin-right: -80px;
    }
    .main .container-fluid .jumbotron-2 .logoHp img {
        margin: 0;
        width: 100%;
    }
    .main .info-panel h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #1c7849;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main .info-panel p {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
}

/*---------------------------------------------------------------

Small devices (portrait tablets and large phones, 600px and up) 

----------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
    /* Jumbotron Section */
    .jumbotron {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 240px;
        background-image: url("../pages/assets/images/timSepakat.png");
    }
    .jumbotron .input-container {
        padding-top: 50px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        height: 40px;
        width: 90% !important;
        margin-left: 5%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    .jumbotron .input-container input {
        height: 40px;
        border: none;
        width: 100% !important;
        margin-left: 10px;
        background-color: transparent;
    }
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
    /* End Jumbotron */
    /* Carousel Section */
    .slider .swiper {
        width: 100%;
        height: 100%;
    }

    .slider .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .slider .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider .swiper-slide {
        width: 80%;
    }

    .slider .swiper-slide:nth-child(2n) {
        width: 60%;
    }

    .slider .swiper-slide:nth-child(3n) {
        width: 40%;
    }
    /* End Carousel */
    /* .Main Section */
    .main {
        overflow: hidden;
        font-family: "Nunito Sans", sans-serif;
    }
    .main .tombol {
        order: 2;
        margin-bottom: 20px;
    }
    /* CheckBox Section */
    .tombolPilih .pilihProperti .form-check label input[type="checkbox"] {
        display: none !important;
    }
    .tombolPilih .pilihProperti .form-check {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tombolPilih .pilihProperti .form-check div {
        margin-right: 10px;
        margin-top: 20px;
    }
    .tombolPilih .pilihProperti .form-check label {
        cursor: pointer;
    }
    .tombolPilih .pilihProperti .form-check label span {
        box-shadow: 3px 3px 8px 0px #56565626;
        position: relative;
        display: inline-block;
        background-color: transparent;
        padding: 12px 24px 12px 24px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 700;
        border: #f2cd00 solid 1.5px;
        border-radius: 24px;
        border-color: #f2cd00;
        transition: 00.5s;
        user-select: none;
        overflow: hidden;
    }
    .tombolPilih .pilihProperti .form-check label span ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .tombolPilih
        .pilihProperti
        .form-check
        label
        input[type="checkbox"]:checked
        ~ span {
        background-color: #f56600;
        border-color: #f56600;
        color: #fff;
    }
    .rincianProperti .btn {
        padding: 12px 24px 12px 24px;
    }
    /* End CheckBox */
    .main .deskripsi {
        order: 1;
    }
    .main .sitePlan {
        order: 3 !important;
    }
    .main .sitePlan .btnWrapper {
        position: relative;
    }
    .main .tpRumah {
        order: 4;
    }
    .main .perumahanLn {
        order: 5;
    }
    .main .tpRumah .row {
        width: 95%;
    }
    .main .tpRumah .row .col .card {
        border: none;
    }
    .main .tpRumah .row .col .card h5 {
        font-size: 20px;
        font-weight: 700;
    }
    .main .tpRumah .row .col .card p {
        font-size: 13px;
        font-weight: 400;
    }
    .main .tpRumah .row .col .card .card1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 34px;
        margin-left: 24px;
    }
    .main .tpRumah .row .col .card .card2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 34px;
        margin-left: 24px;
    }
    .main .tpRumah .row .col .card .card3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 34px;
        margin-left: 24px;
    }

    .main .tpRumah .row .col .card .card4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 34px;
        margin-left: 24px;
    }

    .main .container-fluid {
        margin: 24px 24px 24px 24px;
        padding: 0;
    }
    .main .container-fluid .rincian-1 h1 {
        font-size: 25px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 p {
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 ul {
        display: flex;
    }
    .main .container-fluid .rincian-1 li {
        font-size: 15px;
        font-weight: 700;
        margin-right: 25px;
    }
    .main .container-fluid .rincian-2 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-2 h3 {
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .container-fluid .rincian-2 p {
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-2 .btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: 700;
    }
    .main .container-fluid .rincian-3 h1 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .tombol {
        margin-left: 30%;
    }
    .main .tombol p {
        font-size: 14px;
        font-weight: 700;
    }
    .main .sitePlan .tombolSitePlan {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: 52%;
        top: 85%;
        width: 220px;
        height: 50px;
    }
    .main .sitePlan .tombolSitePlan p {
        font-size: 120%;
    }
    .main .tombol .spanTombol1 {
        position: relative;
    }
    .main .tombol .spanTombol1 button {
        padding-left: 40px;
    }
    .main .tombol .spanTombol1 img {
        position: absolute;
        top: 4px;
        left: 17px;
    }
    .main .tombol .spanTombol2 {
        position: relative;
    }
    .main .tombol .spanTombol2 button {
        padding-left: 45px;
    }
    .main .tombol .spanTombol2 img {
        position: absolute;
        top: 2px;
        left: 16px;
    }
    .main .container-fluid .rincian-3 p {
        text-align: justify;
        padding-right: 50px;
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-4 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-5 {
        display: none;
        width: 332px;
        height: 231px;
        background-color: #bcbec0;
    }
    .main .container-fluid .rincian-5 h1 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
    }
    .main .container-fluid .item4 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .item4 img {
        width: 93%;
    }
    .main .container-fluid .item4 .lokasiPerumahan {
        background-color: #ffffff;
        width: 93%;
    }
    .main .container-fluid .item4 .lokasiPerumahan p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .item4 .lokasiPerumahan img {
        width: 10%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-1 {
        color: #f56600;
        margin-left: 51%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-2 {
        color: #f56600;
        margin-left: 53%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-3 {
        color: #f56600;
        margin-left: 60%;
    }
    .main .container-fluid .rincian-6 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
        margin-bottom: 10px;
    }
    .main .container-fluid .rincianProperti {
        font-family: "Nunito Sans", sans-serif;
    }
    .main .container-fluid .rincianProperti h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .rincianProperti p {
        font-size: 14px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .container-fluid .rincianProperti .btn-submit p {
        color: #fefefd;
    }
    .main .container-fluid .rincianProperti .pProperti img {
        width: 15px;
        margin-top: -10px !important;
        margin-left: 5px;
    }
    .main .container-fluid .rincianProperti #toolTip {
        cursor: pointer;
        position: relative;
    }
    .main .container-fluid .rincianProperti #toolTip #toolTipText {
        position: absolute;
        background-color: #f56600;
        color: #fff;
        transform: translateX(-50%);
        left: 200%;
        top: 0;
        white-space: nowrap;
        padding: 5px;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-weight: 700;
    }
    .main .container-fluid .rincianProperti #toolTip #toolTipText::before {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        border: 15px solid;
        left: 50%;
        top: 100%;
    }
    .main .container-fluid .rincianProperti #toolTip:hover #toolTipText {
        margin-top: -40px !important;
        visibility: visible;
        opacity: 1;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:hover {
        background-color: transparent;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:focus {
        background-color: #f56600;
        border-color: #f56600;
        color: #fff;
    }
    .main .container-fluid .rincianProperti .tombolPilih button:active {
        border-color: #f56600 !important;
    }
    .main .container-fluid .rincianProperti button {
        box-shadow: 3px 3px 8px 0px #56565626;
        font-size: 14px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .cardDekstop {
        display: none !important;
    }
    .main .swiper {
        width: 100%;
        height: 100%;
    }

    .main .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .main .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5% / 10%;
    }
    .main .perumahanLn .swiper-wrapper {
        width: 450px !important;
        height: 240px;
    }
    .main .perumahanLn .swiper-wrapper .card-img-overlay {
        color: #fff;
        padding: 50px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 70%;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        padding-right: 100px !important;
        display: none !important;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next {
        padding-left: 100px !important;
        display: none !important;
    }
    .main .perumahanLn .swiper-slide {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(2n) {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(3n) {
        width: 80%;
    }
    .main .container-fluid .jumbotron-2 {
        margin-left: -25px;
        margin-top: -20px;
        background-color: #f2eec8;
    }
    .main .container-fluid .jumbotron-2 .container-fluid {
        margin-left: 5px;
    }
    .main .container-fluid .jumbotron-2 h1 {
        font-family: "Poppins", sans-serif;
        margin-top: 30px;
        color: #f56600;
        font-size: 3em;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 p {
        font-style: italic;
        font-size: 1.3em;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 .playstore {
        width: 30%;
    }
    .main .container-fluid .jumbotron-2 .logoHp {
        margin-top: 20px;
        position: relative;
        margin-left: 1%;
        margin-bottom: 20px;
    }
    .main .container-fluid .jumbotron-2 .logoHp .hp1 {
        margin-right: -80px;
    }
    .main .container-fluid .jumbotron-2 .logoHp img {
        margin: 0;
        width: 100%;
    }
    .main .info-panel h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #1c7849;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main .info-panel p {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
}

@media only screen and (min-width: 768px) {
    /* Carousel Section */
    .slider .swiper {
        width: 100%;
        height: 100%;
    }

    .slider .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .slider .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider .swiper-slide {
        width: 80%;
    }

    .slider .swiper-slide:nth-child(2n) {
        width: 60%;
    }

    .slider .swiper-slide:nth-child(3n) {
        width: 40%;
    }
    /* End Carousel */

    /* Jumbotron Section */
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
    /* End Jumbotron */

    /* .Main Section */
    .main {
        overflow: hidden;
        font-family: "Nunito Sans", sans-serif;
    }
    .main .row {
        margin: 0;
    }
    .main .tombol {
        order: 2;
        margin-bottom: 20px;
        margin-left: 0;
    }
    /* CheckBox Section */
    .tombolPilih .pilihProperti .form-check label input[type="checkbox"] {
        display: none !important;
    }
    .tombolPilih .pilihProperti .form-check {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tombolPilih .pilihProperti .form-check div {
        margin-right: 20px;
        margin-top: 20px;
    }
    .tombolPilih .pilihProperti .form-check label {
        cursor: pointer;
    }
    .tombolPilih .pilihProperti .form-check label span {
        box-shadow: 3px 3px 8px 0px #56565626;
        position: relative;
        display: inline-block;
        background-color: transparent;
        padding: 12px 24px 12px 24px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 700;
        border: #f2cd00 solid 1.5px;
        border-radius: 24px;
        border-color: #f2cd00;
        transition: 00.5s;
        user-select: none;
        overflow: hidden;
    }
    .tombolPilih .pilihProperti .form-check label span ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .tombolPilih
        .pilihProperti
        .form-check
        label
        input[type="checkbox"]:checked
        ~ span {
        background-color: #f56600;
        border-color: #f56600;
        color: #fff;
    }
    .rincianProperti .btn {
        padding: 12px 24px 12px 24px;
    }
    /* End CheckBox */
    .main .deskripsi {
        order: 1;
    }
    .main .sitePlan {
        order: 3 !important;
    }
    .main .sitePlan .btnWrapper {
        position: relative;
    }
    .main .tpRumah {
        order: 4;
    }
    .main .perumahanLn {
        order: 5;
    }
    .main .tpRumah .row {
        width: 95%;
    }
    .main .tpRumah .row .col .card {
        border: none;
    }
    .main .tpRumah .row .col .card h5 {
        font-size: 20px;
        font-weight: 700;
    }
    .main .tpRumah .row .col .card p {
        font-size: 13px;
        font-weight: 400;
    }
    .main .tpRumah .row .col .card .card1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 12px;
        margin-left: 3px;
    }
    .main .tpRumah .row .col .card .card2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 12px;
        margin-left: 3px;
    }
    .main .tpRumah .row .col .card .card3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 12px;
        margin-left: 3px;
    }

    .main .tpRumah .row .col .card .card4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        margin-bottom: 12px;
        margin-left: 3px;
    }

    .main .container-fluid {
        margin: 24px 24px 24px 24px;
        padding: 0;
    }
    .main .container-fluid .rincian-1 h1 {
        font-size: 25px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 p {
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-1 ul {
        display: flex;
    }
    .main .container-fluid .rincian-1 li {
        font-size: 15px;
        font-weight: 700;
        margin-right: 25px;
    }
    .main .container-fluid .rincian-2 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-2 h3 {
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
    }
    .main .container-fluid .rincian-2 p {
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-2 .btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: 700;
    }
    .main .container-fluid .rincian-3 h1 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .tombol p {
        font-size: 14px;
        font-weight: 700;
    }
    .main .sitePlan .tombolSitePlan {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: 50%;
        top: 80%;
        width: 35%;
        height: 50px;
    }
    .main .sitePlan .tombolSitePlan p {
        font-size: 120%;
    }
    .main .tombol .spanTombol1 {
        position: relative;
    }
    .main .tombol .spanTombol1 button {
        padding-left: 40px;
    }
    .main .tombol .spanTombol1 img {
        position: absolute;
        top: 4px;
        left: 17px;
    }
    .main .tombol .spanTombol2 {
        position: relative;
    }
    .main .tombol .spanTombol2 button {
        padding-left: 45px;
    }
    .main .tombol .spanTombol2 img {
        position: absolute;
        top: 2px;
        left: 16px;
    }
    .main .container-fluid .rincian-3 p {
        text-align: justify;
        padding-right: 50px;
        font-size: 15px;
        font-weight: 400;
        color: #4d4d4d;
    }
    .main .container-fluid .rincian-4 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .rincian-5 {
        display: none;
        width: 332px;
        height: 231px;
        background-color: #bcbec0;
    }
    .main .container-fluid .rincian-5 h1 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
    }
    .main .container-fluid .item4 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #f56600;
    }
    .main .container-fluid .item4 img {
        width: 93%;
    }
    .main .container-fluid .item4 .lokasiPerumahan {
        background-color: #ffffff;
        width: 93%;
    }
    .main .container-fluid .item4 .lokasiPerumahan p {
        font-size: 16px;
        font-weight: 700;
        color: #4d4d4d;
    }
    .main .container-fluid .item4 .lokasiPerumahan img {
        width: 12%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-1 {
        color: #f56600;
        margin-left: 30%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-2 {
        color: #f56600;
        margin-left: 33%;
    }
    .main .container-fluid .item4 .lokasiPerumahan .waktu-3 {
        color: #f56600;
        margin-left: 45%;
    }
    .main .container-fluid .rincian-6 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
        margin-bottom: 10px;
    }
    .main .cardDekstop {
        display: none !important;
    }
    .main .swiper {
        width: 100%;
        height: 100%;
    }

    .main .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .main .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5% / 10%;
    }
    .main .perumahanLn .swiper-wrapper {
        width: 450px !important;
        height: 240px;
    }
    .main .perumahanLn .swiper-wrapper .card-img-overlay {
        color: #fff;
        padding: 50px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 70%;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        padding-right: 100px !important;
        display: none !important;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next {
        padding-left: 100px !important;
        display: none !important;
    }
    .main .perumahanLn .swiper-slide {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(2n) {
        width: 80%;
    }

    .main .perumahanLn .swiper-slide:nth-child(3n) {
        width: 80%;
    }
    .main .container-fluid .jumbotron-2 {
        margin-left: -25px;
        margin-top: -20px;
        background-color: #f2eec8;
    }
    .main .container-fluid .jumbotron-2 .container-fluid {
        margin-left: 5px;
    }
    .main .container-fluid .jumbotron-2 h1 {
        font-family: "Poppins", sans-serif;
        margin-top: 30px;
        color: #f56600;
        font-size: 3em;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 p {
        font-style: italic;
        font-size: 1.3em;
        font-weight: 700;
    }
    .main .container-fluid .jumbotron-2 .playstore {
        width: 30%;
    }
    .main .container-fluid .jumbotron-2 .logoHp {
        margin-top: 20px;
        position: relative;
        margin-left: 14%;
        margin-bottom: 20px;
    }
    .main .container-fluid .jumbotron-2 .logoHp .hp1 {
        margin-right: -80px;
    }
    .main .container-fluid .jumbotron-2 .logoHp img {
        margin: 0;
        width: 100%;
    }
    .main .info-panel h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #1c7849;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main .info-panel p {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
}

@media only screen and (min-width: 992px) {
    /* Jumbotron Section */
    .jumbotron {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 240px;
        padding: 0 15%;
        background-image: url("../pages/assets/images/timSepakat.png");
    }
    .jumbotron .input-container {
        padding-top: 25px;
    }
    .jumbotron .input-container form {
        background-color: #ffffff;
        width: 100% !important;
        margin-left: 19%;
    }
    .jumbotron .input-container .form-control:focus {
        box-shadow: none;
    }
    .jumbotron .input-container input {
        border: none;
        width: 100% !important;
        margin-left: 10px;
        background-color: transparent;
    }
    .jumbotron .input-container img {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }
    .jumbotron .input-container form button {
        background-color: #f56600;
        color: #fff;
    }
    .jumbotron .input-container form button:hover {
        border-color: #f56600;
    }
    /* End Jumbotron */

    /* .Main Section */
    .main .container-fluid .rincianProperti {
        padding: 0 15% !important;
    }
    .main .container-fluid .rincian-6 h1 {
        font-size: 14px;
        font-weight: 700;
        color: #4d4d4d;
        margin-bottom: 10px;
        padding-left: 15%;
    }
    /* End .Main */
}

@media only screen and (min-width: 1200px) {
}
