.imageBackground {
  width: 100%;
  height: 20%;
}

.imageSiteplan svg {
  width: 93%;
  height: 93%;
  margin-top: -93%;
}

@media (max-width: 600px) {
  .imageSiteplan svg {
    width: 100%;
    height: 100%;
    margin-top: -100%;
  }
}

.imageSiteplan svg polygon {
  fill: #e6ddc4;
  stroke: green;
}

.imageSiteplan {
  position: absolute;
}

.containerSiteplan {
  width: 100%;
  height: 100%;
  position: relative;
}
